<md-dialog aria-label="List dialog"> 
      <md-dialog-content>
           <single-event class="eventdetail" event="event"></single-event>
      </md-dialog-content> 
      <md-dialog-actions> 
        <md-button ng-click="$ctrl.closeDialog()" class="md-primary">Close Dialog</md-button> 
      </md-dialog-actions> 
    </md-dialog>