<div class="changeAccountBlock">
    <h3>User : {{$ctrl.account.username}}</h3>
    <select ng-model="$ctrl.selectedUser" ng-change="$ctrl.changeAccount()" ng-show="$ctrl.account.associatedUsernames.length > 1">
        <option ng-repeat="user in $ctrl.account.associatedUsernames" value="{{user.idUser}}">{{user.user}} {{ user.idsocial ? '\\ Facebook' : ''}}</option>
    </select>
</div>
