<div map-lazy-load="https://maps.google.com/maps/api/js"
    map-lazy-load-params="{{$ctrl.googleMapsUrl}}" ng-mouseover="heightMap = '600px'" ng-mouseleave="heightMap = '300px'">
    <ng-map ng-style="{height: heightMap}" center="{{$ctrl.focus.latitud || '0'}},{{$ctrl.focus.longitud || '0'}}" zoom="8">
        <div ng-repeat="p in $ctrl.array">
            <marker no-watcher="true"
                    title="{{p.name}}"
                    position="{{p.latitud || '0'}},{{p.longitud || '0'}}"
                    on-click="showInfo(p)">
            </marker>

            <info-window id="myInfoWindow">
                <single-event event="currentEventTarget"></single-event>
            </info-window>
        </div>
    </ng-map>
    </custom-marker>
</div>