<div class="eventCreate--block">
    <div ng-show="!$ctrl.User_.current.currentUserId">
        <h2>SELECT A USER TO CREATE THE EVENT</h2>
    </div>
    <form ng-show="$ctrl.User_.current.currentUserId" name="createForm" ng-model="$ctrl.createForm">
        <!-- Event Name -->
        <span>
            <h3>Event name : </h3>
            <input type="text" required ng-model="$ctrl.createForm.name" name="name">
            <!-- Validation -->
            <span ng-show="createForm.name.$dirty || createForm.name.$touched">
                <span ng-show="createForm.name.$error.required"> The name is required</span>
                <span ng-show="$ctrl.Utils_.validateArrayValue(createForm.name.$viewValue , $ctrl.Events)"> The name is already taked</span>
            </span>
        </span>
        <!-- Event Location -->
        <span>
            <h3>Location : </h3>
            <input type="text" required placeholder="lat" ng-model="$ctrl.createForm.latitud" ng-pattern="/^(\+|-)?(?:90(?:(?:\.0{1,6})?)|(?:[0-9]|[1-8][0-9])(?:(?:\.[0-9]{1,6})?))$/">
            <input type="text" required placeholder="lng" ng-model="$ctrl.createForm.longitud" ng-pattern="/^(\+|-)?(?:180(?:(?:\.0{1,6})?)|(?:[0-9]|[1-9][0-9]|1[0-7][0-9])(?:(?:\.[0-9]{1,6})?))$/">
        </span>
        <!-- PRINT MAP HERE -->
        <div ng-show="$ctrl.createForm.latitud && $ctrl.createForm.longitud">   
            <input type="button" ng-click="ShowMap = ! ShowMap" value="Show Map">
            <map-load 
                focus="{
                    longitud:$ctrl.createForm.longitud,
                    latitud:$ctrl.createForm.latitud}" 
                array="[{
                    desc: $ctrl.createForm.description,
                    name:$ctrl.createForm.name,
                    longitud:$ctrl.createForm.longitud,
                    latitud:$ctrl.createForm.latitud}]" ng-show="!ShowMap"></map-load>
        </div>
        <!-- Event Description -->
        <span>
            <h3>Description : </h3>
            <textarea required ng-model="$ctrl.createForm.description" name="description"></textarea>
            <!-- Validation -->
            <span ng-show="createForm.description.$dirty || createForm.description.$touched">
                <span ng-show="createForm.description.$error.required"> The Description is required</span>
            </span>
        </span>
        <!-- Event Image -->
        <span>
            <h3>Image : </h3>
            <input type="image" ng-model="$ctrl.createForm.image">
        </span>
        <!-- Event Artists -->
        <span>
            <h3>Your artirst : </h3>
            <div ng-repeat="input in $ctrl.inputs track by $index">
                <input placeholder="Input the user ID" ng-model="$ctrl.createForm.artists[$index]">
                <input type="button" value="Verify" ng-click="$ctrl.verifyId($ctrl.createForm.artists[$index])">
            </div>
            <input type="button" value="+" ng-click="$ctrl.moreInputs()">
            <div ng-repeat="artist in $ctrl.arrayArtists">
                {{artist.email}}
            </div>
        </span>
        <!-- Create Button -->
        <span>
            <button class="btn btn-lg btn-primary pull-xs-right"
                type="submit"   
                ng-disabled="!(createForm.name.$valid && createForm.description.$valid)"
                ng-click="$ctrl.createEvent()"
                >Create Event</button>
        </span>
    </form>

    <div ng-show="$ctrl.createForm.description && $ctrl.createForm.name">   <!-- SHOW EXAMPLE -->
        <input type="button" ng-click="showExample = ! showExample" value="Show Exameple">
        <single-event class="createExample" ng-show="showExample" event="{
            desc: $ctrl.createForm.description,
            name: $ctrl.createForm.name,
            img: $ctrl.createForm.image,
        }"></single-event>
    </div>
</div>