<section id="main" class="wrapper">
    <!-- AUTOCOMPLETE FOR LISTING -->
    <div id="EventsSearcher">
        <md-autocomplete id="custom-template" ng-disabled="" md-search-text-change="$ctrl.filtro" md-search-text="$ctrl.filtro" md-selected-item-change="" 
        md-items="item in $ctrl.Events | filter: $ctrl.filtro" md-item-text="item.name" md-min-length="0" placeholder="Search for event ?" 
        md-menu-class="autocomplete-custom-template" md-menu-container-class="custom-container">
            <md-item-template>
                <span class="item-title">
                    <span> {{item.name}} </span>
                </span>
                <span class="item-metadata">
                    <span>Place :
                    <strong>{{item.place}}</strong>
                    </span>
                    <span>Price :
                    <strong>{{item.price}}</strong>
                    </span>
                </span>
            </md-item-template>
        </md-autocomplete>
    </div>
    <!-- LIST THE EVENTS USING COMPONENT -->
    <event-list events="$ctrl.Events" filter="$ctrl.filtro"></event-list>
</section>