<footer class="footer">
  <div class="container">
    <a class="logo-font" ui-sref="app.home" ng-bind="::$ctrl.appName | lowercase"></a>
    <span class="attribution">
      &copy; {{::$ctrl.date | date:'yyyy'}}.
      An interactive learning project from <a href="https://thinkster.io">Thinkster</a>.
      Code licensed under MIT.
    </span>
  </div>
</footer>
