<nav class="navbar navbar-light">
  <div class="header">
    <div class="header items center">
        <span>
            <md-menu>
                <md-button ng-click="$mdMenu.open($event)" class="md-icon-button" aria-label="Open sample menu">
                    <a class="navbar-brand">US</a>
                </md-button>
                <md-menu-content>
                    <md-menu-item><md-button ui-sref="app.contact">Contact Us</md-button></md-menu-item>
                </md-menu-content>
            </md-menu> 
        </span>
        <span>
            <a ui-sref="app.home">
                <i class="material-icons">panorama_fish_eye</i>
            </a>
        </span>
        <span>
            <md-menu>
                <md-button ng-click="$mdMenu.open($event)">
                    <a class="navbar-brand">Search Events</a>
                </md-button>
                <md-menu-content>
                    <md-autocomplete style="width: 400px" id="custom-template" md-clear-button="false" md-selected-item-change="openDetails(item)" 
                    md-items="item in $ctrl.search | filter: $ctrl.filter" md-item-text="item.name" md-min-length="0"md-search-text-change="$ctrl.filter" md-search-text="$ctrl.filter">
                        <md-item-template>
                            <span class="item-title">
                                <span> {{item.name}} </span>
                            </span>
                            <span class="item-metadata">
                                <span>Place :
                                    <strong>{{item.place}}</strong>
                                </span>
                                <span>Price :
                                    <strong>{{item.price}}</strong>
                                </span>
                            </span>
                        </md-item-template>
                    </md-autocomplete>
                </md-menu-content>
            </md-menu>
        </span>
    </div>
    <div class="header display">
        <span>
            <md-menu>
              <md-button ng-click="$mdMenu.open($event)" class="md-icon-button" aria-label="Open sample menu">
                  <i show-authed="false" class="material-icons">list</i>
                  <i show-authed="true" class="material-icons"  style="font-size:30px;">person</i>
              </md-button>
              <md-menu-content>
                    <div show-authed="false">
                        <md-menu-item><md-button ng-click="$ctrl.longinNormal()">Login</md-button></md-menu-item>
                        <md-menu-item><md-button ng-click="$ctrl.singIn()">Sing in</md-button></md-menu-item>
                    </div>
                    <div show-authed="true">
                        <md-menu-item><md-button ng-click="$ctrl.logOut()">Logout</md-button></md-menu-item>
                        <change-account account="$ctrl.User_.current"></change-account>
                        <button ui-sref="app.eventscreate">Create Events</button>
                    </div>
              </md-menu-content>
            </md-menu> 
      </span>
    </div>
  </div>
</nav>
