 <div class="home-page">

  <!-- Splash banner that only shows when not logged in -->
  <div class="banner">
    <div class="container">
      <h1 class="logo-font" ng-bind="::$ctrl.appName | lowercase"></h1>
    </div>
  </div>

  <div class="container page">
    <div class="row">
      <event-list events="$ctrl.events_"></event-list>
    </div>
  </div>
  <app-test></app-test>
</div>
