<md-dialog aria-label="List dialog"> 
    <md-dialog-content>
        <login-form auth-type="dialogType"></login-form>
    </md-dialog-content> 
    <md-dialog-actions> 
        <md-button ng-click="closeDialog()" class="md-primary"> 
        Close Dialog 
        </md-button> 
    </md-dialog-actions> 
</md-dialog>