body{
    font-style: helvetica arial;
    min-height: 100%;
}

.header.items .material-icons{
    font-size: 50px;
    position: relative;
    transform: translate(0,10px);
}
.header.items .material-icons:hover{
    transform: scale(1.5,1.5) translate(2px,15px);
    transition-duration: 1s;
}
.header span{
    margin: 0 6%;
}
.header.display{
    float: right;
    width: 5%;
    position: fixed;
    right: 0;
    top: 0;
}
.application{
    margin-top:100px;
}
.footer{
    position: unset;
}
.EventListItem{
    background: white;
    width: 33%;
    float:left;
}
.EventListItem:hover {
    transition-duration: 0.5s;
    background: grey;
}
.ng-hide:not(.ng-hide-animate) {
    /* These are just alternative ways of hiding an element */
    display: block!important;
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
div.centre {
    width: 200px;
    display: block;
    background-color: #eee;
    margin-left: auto;
    margin-right: auto;
  }
/*
    Event Details
*/

.detail--image{
    margin: 0 16%;
}
    .detail--image img{
        height:220px; 
        width:320px;
    }
.detail--content{
    margin: 0 16%;
    text-align: center;
}
    .detail--content button{
        background-color: aqua;
        border-radius: 5px;
    }
.detail--map{
    display: none;
}
/* LIST EVENTS */

.EventListItem:hover{
    transition-duration: 2s;
    transform: scale(1.05);
    transform-origin: 0 2;
}
.listevents .detail--desc{
    display: none;
}
.listevents .detail--date{
    display: none;
}
/* EVENT DETAILS */
.eventdetail .detail--block{
}
.eventdetail .detail--content{
    margin: 0 25%;
    float: none;
    clear: both;
    text-align: center;
    z-index: 5;
}
.eventdetail .detail--price{
    display: none;
}
.eventdetail .detail--stock{
    display: none;
}
.eventdetail .detail--place{
    display: none;
}
.eventdetail .detail--moreinfo{
    display: none;
}
.eventdetail .detail--desc{

}
.eventdetail .detail--image{
    max-width: 100%;
    height: 250px;
    overflow: hidden;
    margin: 0 16%;
}
.eventdetail .detail--map{
    display: block;
}

.eventdetail .detail--image img{
}

/*
    $mapLoad
*/

ng-map {
    transition-duration: 3s;
}

/*
    $mdDialog
*/

md-dialog.md-transition-in{
    width: 45%;
    padding-top: 50px;
}
.ng-hide:not(.ng-hide-animate){
    visibility: hidden;
}