/* Slicebox Style */
.sb-slider {
	margin:0px auto;
	position: relative;
	overflow: hidden;
	width: 100%;
	list-style-type: none;
	padding: 0;
}
.wrapper {
    position: relative;
}
.sb-slider li {
	margin: 0;
	padding: 0;
	display: none;
}

.sb-slider li > a {
	outline: none;
}

.sb-slider li > a img {
	border: none;
}

.sb-slider img {
	max-width: 100%;
	display: block;
}

.sb-description {
    padding: 26px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 1000;
    position: absolute;
    background: #212121;
    background: rgba(33, 33, 33, 0.44);
    border-left: 4px solid #efb312;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    color: #fff;
    -webkit-transition: all 200ms;
    -moz-transition: all 200ms;
    -o-transition: all 200ms;
    -ms-transition: all 200ms;
    transition: all 200ms;
	    text-align: center;
    letter-spacing: 15px;
}
.sb-slider li.sb-current .sb-description {
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	opacity: 1;
}

.sb-slider li.sb-current .sb-description:hover {
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=99)";
	filter: alpha(opacity=99);
	background: rgba(33, 33, 33, 0.25);
}

.sb-perspective {
	position: relative;
}

.sb-perspective > div {
	position: absolute;

	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-o-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	transform-style: preserve-3d;

	-webkit-backface-visibility : hidden;
	-moz-backface-visibility : hidden;
	-o-backface-visibility : hidden;
	-ms-backface-visibility : hidden;
	backface-visibility : hidden;
}

.sb-side {
	margin: 0;
	display: block;
	position: absolute;

	-moz-backface-visibility : hidden;

	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-o-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	transform-style: preserve-3d;
}
.shadow {
	width: 100%;
	height:100px;
	position: relative;
	margin-top: -110px;
	/*background: transparent url(../images/shadow.png) no-repeat bottom center;*/
	background-size: 100% 100%; /* stretches it */
	z-index: -1;
	display: none;
}

.sb-description h3 {
	font-size: 20px;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
}

.sb-description h3 a {
	color: #4a3c27;
	text-shadow: 0 1px 1px rgba(255,255,255,0.5);
}

.nav-arrows {
	display: none;
}

.nav-arrows a {
    width: 42px;
    height: 42px;
    background: rgba(33, 33, 33, 0.62) url(../images/nav.png) no-repeat top left;
    position: absolute;
    top: 50%;
    left: 2px;
    text-indent: -9000px;
    cursor: pointer;
    margin-top: 94px;
    opacity: 0.9;
    border-radius: 50%;
    box-shadow: 0 1px 1px #333;
}

.nav-arrows a:first-child{
	left: auto;
	right: 2px;
	background-position: top right;
}

.nav-arrows a:hover {
	opacity: 1;
}

.nav-dots {
    text-align: center;
    position: absolute;
    bottom: 95px;
    height: 30px;
    width: 100%;
    left: 0;
}

.nav-dots span {
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    margin: 3px;
    background: #00a98f;
    cursor: pointer;
    box-shadow: 0 1px 1px rgba(16, 15, 15, 0.6), inset 0 1px 1px rgba(25, 23, 23, 0.1);
}

.nav-dots span.nav-dot-current {
    box-shadow: 0 1px 1px rgba(21, 20, 20, 0.6), inset 0 1px 1px #212121, inset 0 0 0 3px #f5f5f5, inset 0 0 0 8px #00a98f;
}
.nav-options {
	width: 70px;
	height: 30px;
	position: absolute;
	right: 70px;
	bottom: 0px;
	display: none;
}

.nav-options span {
	width: 30px;
	height: 30px;
	background: #cbbfae url(../images/options.png) no-repeat top left;
	text-indent: -9000px;
	cursor: pointer;
	opacity: 0.7;
	display: inline-block;
	border-radius: 50%;
}

.nav-options span:first-child{
	background-position: -30px 0px;
	margin-right: 3px;
}

.nav-options span:hover {
	opacity: 1;
}
@media (max-width:1080px){
   .nav-dots {
		position: absolute;
		bottom:88px;
	}
}
@media (max-width:1024px){
   .nav-dots {
		position: absolute;
		bottom: 98px;
	}
	.sb-description h3 {
       font-size: 16px;

	}
}
@media (max-width:768px){
	.nav-arrows a {
		margin-top: -19px;
		opacity: 0.9;
	}
}
@media (max-width:600px){
	.sb-description h3 {
		font-size: 13px;
	}
}
@media (max-width:480px){
	.nav-dots {
		bottom: 60px;
	}
}
@media (max-width:440px){
	.sb-description {
		padding:10px 10px;
		letter-spacing: 5px;
	}
	.nav-dots {
		bottom: 35px;
	}
}
@media (max-width:414px){
   .nav-dots span {
		display: inline-block;
		width: 12px;
		height: 12px;
		margin: 1px;
	}
	.nav-dots {
		bottom: 18px;
	}
}
