/*--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/
html, body{
    font-size: 100%;
	font-family: 'Open Sans', sans-serif;
	background:#ffffff;
	margin: 0;
}
p,ul li,ol li{
	margin:0;
	font-size:1em;
	letter-spacing:1px;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Raleway', sans-serif;
	margin:0;
	font-weight: 700;
}
ul,label{
	margin:0;
	padding:0;
}
body a:hover{
	text-decoration:none;
}
input[type="submit"],input[type="reset"],a,.w3ls_team_grid1_pos ul li{
	-webkit-transition: 0.5s ease-in;
    -moz-transition: 0.5s ease-in;
    -ms-transition: 0.5s ease-in;
    -o-transition: 0.5s ease-in;
    transition:0.5s ease-in;
}
/*-- header --*/
input[type="submit"],.w3l_header_left ul li a,.related-post-right h4 a,.comments-grid-right h4 a,.reply a,.w3_single_grid_left_grid ul li a,ul.contact_info li a,.w3ls_services_bottom_grid_grid_pos,.footer-copy p a,.w3l_services_grid h4 a,.agileinfo_footer_grid ul li a,.wthree_service_breadcrumb_left ul li a{
	transition: .5s ease-in;
	-webkit-transition: .5s ease-in;
	-moz-transition: .5s ease-in;
	-o-transition: .5s ease-in;
	-ms-transition: .5s ease-in;
}
.w3l_header_left{
	float:left;
	margin: .3em 0 0;
}
.w3l_header_left ul li{
	display:inline-block;
	margin-right:2em;
	font-size:14px;
	color:#999;
}
.w3l_header_left ul li i {
    padding-right: 1em;
    color: #00a98f;
}
.w3l_header_left ul li a{
	color:#999;
	text-decoration:none;
}
.w3l_header_left ul li a:hover{
	color:#00a98f;
}
.w3l_header_right{
	float: right;
}
/*-- social-icons --*/
/*--top header start here--*/
.w3ls-social-icons.text-left a {
    display: inline-block;
}
.w3ls-social-icons i {
    font-size: 15px;
    background: #333;
    padding: 8px 10px;
    color: #fff;
    border: 1px solid #333;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    -moz-transition: 0.5s all;
	    border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
}
.w3ls-social-icons i:hover {
    background: transparent;
    color: #efb312;
    border: 1px solid #efb312;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    -moz-transition: 0.5s all;
}
.top-header-main {
    padding: 1em 0em;
}
.header-address h6 {
    font-size:0.9em;
    color: #fff;
    display: inline-block;
}
.logo h1 {
    font-size:2.5em;
}
.agileits_w3layouts_banner_nav {
    margin: 0 auto;
    width: 90%;
}
/*-- //social-icons --*/
/*-- nav --*/
.navbar-default {
    background: none;
    border: none;
}
.navbar {
    margin-bottom: 0;
}
.navbar-collapse {
    padding: 0;
}
.navbar-right {
    margin-right: 0;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color:#00a98f;
    background:none;
}
.navbar-default .navbar-nav > .active > a:before{
	background: #00a98f;
	transform: translateX(0);
	-webkit-transform: translateX(0);
	-moz-transform: translateX(0);
	-o-transform: translateX(0);
	-ms-transform: translateX(0);
}
.navbar-default .navbar-nav > li > a {
    font-weight: 700;
    letter-spacing: 1px;
    padding: 0 0 1em 0;
    margin: 0 1em;
    font-size: 0.9em;
}
.navbar-nav > li > a {
    text-transform: uppercase;
}
.navbar-default .navbar-nav > li > a:hover{
    color:#00a98f;
}
.navbar-default .navbar-nav > li > a:focus {
    color: #00a98f;
	outline:none;
}
nav.navbar.navbar-default {
    background: none;
    padding: 1em 0 0.3em 0;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
       color: #262c38;
    background: none;
}
.navbar-default .navbar-nav > li > a {
    color: #222;
}
.navbar-default .navbar-nav  > .active.open > a:focus {
	background:transparent;
	color: #fff;
}
a.navbar-brand {
    color: #131212;
    padding: 0;
    font-size: 0.9em;
    font-weight: 800;
    text-transform: uppercase;
    line-height: 50px;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color: #000;
    background-color: transparent;
}
a.navbar-brand i{
	color:#00a98f;
}
.navbar-default .navbar-brand {
    color: #131212;
}
.agile_short_dropdown {
    border-radius: 0;
    background: #ffffff;
    text-align: center;
	padding:0;
	border: none;
}
.agile_short_dropdown li a{
	text-transform:uppercase;
	color:#212121;
	font-size:13px;
	font-weight:600;
	padding: .8em 0;
	border-bottom: 1px solid #ececef;
}
.agile_short_dropdown > li > a:hover{
    color: #fff;
    text-decoration: none;
    background-color:#00a98f;
}
ul.nav.navbar-nav {
    margin-top: 15px;
}
ul.agile_forms {
    float: right;
    margin-top: 11px;
}
/* Underline From Center */
.hvr-underline-from-center {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  overflow: hidden;
}
.hvr-underline-from-center:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 50%;
  right: 50%;
  bottom: 0;
    background: #00a98f;
  height: 4px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
  left: 0;
  right: 0;
}

.navbar-brand span {
      font-size: .3em;
    color: #fff;
    letter-spacing: 4px;
    background: #00a98f;
    padding: 4px 10px;
    vertical-align: top;
    font-weight: 100;
	}
ul.agile_forms {
    float: right;

}
ul.agile_forms li a {
    background: #00a98f;
    color: #fff;
    font-size: 0.9em;
    padding: 8px 1em;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-radius: 5px;
	-webkit-border-radius: 5px;
	-o-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
}
ul.agile_forms li a:hover{
	    background: #efb312;
}
ul.agile_forms li{

	display:inline-block;
	list-style:none;

}
.agileits_top_menu {
    padding: 0.5em 2em;
    background: #000;
}
/*-- //nav --*/
	@media (max-width: 767px){
	.navbar-brand {
		font-size: .8em;
	}
	.navbar-toggle {
		margin: 0.5em 0 0;
	}
	.navbar-default .navbar-toggle {
		border: none;
		background: #efb312;
		border-radius: 0;
	}
	.navbar-default .navbar-collapse, .navbar-default .navbar-form {
		position: absolute;
		width: 100%;
		z-index: 999;
		background:#f3f3f3;
		padding:0em 0;
		margin-top: 2em;
		    z-index: 9999;
	}
	.w3_agileits_search {
		width: 45%;
		float: none;
		margin: 0 auto;
	}
	.w3_agileits_search input[type="submit"] {
		width: 7%;
		background-position: 0px 5px;
	}
	.w3_agileits_search input[type="search"] {
		width: 91%;
	}
	.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
		background: #00a98f;
	}
	.navbar-default .navbar-toggle .icon-bar {
		background-color: #fff;
	}
	.agileits_w3layouts_banner_nav {
		padding: 0.5em 1em;
	}
	.navbar-right {
		width: 100%;
	}
	.navbar-default .navbar-collapse, .navbar-default .navbar-form {
		border: none;
	}
	.navbar-nav {
		margin: 0;
		text-align:center;
	}
	.navbar-nav > li > a {
		padding: 5px 25px;
		font-size: 13px;
		display: inline-block;
	}
	.menu--iris .menu__item {
		margin: 6px 0;
	}
	.navbar-nav .open .dropdown-menu {
		background-color: #00a98f;
		padding:10px 0;
	}
	.navbar-default .navbar-nav .open .dropdown-menu > li > a {
		color: #fff;
	}
	.w3layouts-banner-top, .w3layouts-banner-top1, .w3layouts-banner-top2 {
		min-height: 450px;
	}
	.agileits-banner-info p {
		font-size: 0.9em;
		letter-spacing: 9px;
	}
	.agileits-banner-info {
		padding: 10em 0 0em;
	}
	.banner-bottom h3 {
		font-size: 1.5em;
	}
	.w3-agile-post-img a ul {
		padding:7em 1em 0 2em;
	}
	.w3-agile-post-img a {
		min-height: 350px;
	}
	.w3-agile-post-img a ul li {
		font-size: 0.8em;
		padding: .5em 0em;
		width: 17%;
	}
	.w3-agile-post-info ul li:nth-child(2) {
		margin: 0 0 0 35em;
	}
	ul.nav.navbar-nav {
		margin: 0em 0 0em 0;
	}

	nav.navbar.navbar-default{
		background:none;
		padding:1em 0 0.2em 0;
	}
	ul.nav.navbar-nav {
		margin: 1em 0;
	}
	ul.agile_forms {
		margin-bottom: 1em;
	}
	.agileits_w3layouts_event_grid1 h5 a {
		font-size: 1.2em;
		letter-spacing: 2px;
	}
}
/*-- registration --*/
.signin-form {
	    padding: 0em 1em 1em 1em;
    text-align: center;
}
.signin-form h3,h3.agileinfo_sign  {
       font-size: 1.5em;
    color: #212121;
    font-weight: 700;
    margin: 1em 0 0.8em 0;
    text-transform: uppercase;
    letter-spacing: 1px;
}
h3.agileinfo_sign  {
	text-align:center;
}
.signin-form h3 span {
    color: #67e1ff;
}
.signin-form img {
    border-radius: 50%;
}
.login-form {
    margin: 1em 0 2.5em;
}
.signin-form input[type="email"],.signin-form input[type="text"], .signin-form input[type="password"],.signin-form textarea {
    width: 100%;
    padding: 1em 1em 1em 1em;
    font-size: 0.8em;
    margin: 0.5em 0;
    outline: none;
    color: #212121;
    border: none;
    border: 1px solid #ccc;
    letter-spacing: 1px;
    text-align: center;
}
.signin-form input[type="email"] {
    background: none;
    display: block;
}
.signin-form input[type="text"] {
    background: none;
    display: block;
}
.signin-form input[type="password"] {
     background: none;
    display: block;
}
.signin-form ::-webkit-input-placeholder{
	color:#212121 !important;
}
.signin-form ::-webkit-textarea-placeholder{
	color:#212121 !important;
}
.signin-form textarea {
	min-height:100px;
}
.signin-form input[type="submit"] {
    outline: none;
    padding: 0.8em 0;
    width: 100%;
    text-align: center;
    font-size: 1em;
    margin-top: 1em;
    border: none;
    color: #FFFFFF;
	text-transform:uppercase;
    cursor: pointer;
    background: #00a98f;
    box-shadow: 0px 2px 1px rgba(28, 28, 29, 0.42);

}
.signin-form input[type="submit"]:hover {
    color: #fff;
       background: #000;
    transition: .5s all;
	-webkit-transition: .5s all;
    -moz-transition: .5s all;
    -o-transition: .5s all;
    -ms-transition: .5s all;
}
.signin-form p a {
    font-size: 0.875em;
    color: #212121;
    letter-spacing: 1px;
}
.login-social-grids{
    margin: 1em 0;
}
.login-social-grids ul {
    padding: 0;
    margin: 0;
}
.login-social-grids ul li {
    display: inline-block;
    margin: 0 .5em 0 0;
}
.login-social-grids ul li a {
    color: #FFFFFF;
    text-align: center;
}
.login-social-grids ul li a i.fa.fa-facebook, .login-social-grids ul li a i.fa.fa-twitter, .login-social-grids ul li a i.fa.fa-rss{
    height: 30px;
    width: 30px;
    border: solid 2px #212121;
    line-height: 29px;
    background: none;
    color: #212121;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
.login-social-grids ul li a i.fa.fa-facebook:hover {
	border: solid 2px #3b5998;
	background:#3b5998;
    color: #FFFFFF;
}
.login-social-grids ul li a i.fa.fa-twitter:hover{
	border: solid 2px #55acee;
	background:#55acee;
	color: #FFFFFF;
}
.login-social-grids ul li a i.fa.fa-rss:hover{
	border: solid 2px #f26522;
	background:#f26522;
	color: #FFFFFF;
}
.modal-header .close{
	float:right!important;
}
.form-control:focus {
    border: 1px solid #ccc;
    outline: 0;
	 box-shadow:none!important;
}
/*-- //registration --*/
/*-- bootstrap-pop-up --*/
.modal-header {
    border-bottom: none;
}
.close {
    opacity: 1;
}
.modal-body p {
    color: #555;
    text-align: left;
    padding: 2em 1em;
    margin: 0 !important;
    line-height: 2em;
}
.modal-body p i {
    display: block;
    margin: 2em 0 0;
	color:#212121;
}
.modal-body {
    padding:0;
}
.modal-content {
    border-radius: 0;
}
button.close {
    font-size: 1em;
    color:#016065;
	outline: none;
}
.w3_modal_body_left {
    padding-left: 0;
}
/*-- //bootstrap-pop-up --*/
/*-- banner-bottom --*/
.banner-bottom,.events,.services,.featured-services,.skills{
	padding:5em 0;
}
.agileits_banner_bottom_left h3{
    font-size: 2em;
    color: #212121;
    text-transform: capitalize;
    font-weight: 300;
    padding-left: 0.8em;
    border-left: 5px solid #00a98f;
}
.agileits_banner_bottom_left h3 span{
    color: #00a98f;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
}
.agileits_banner_bottom_left p.w3l_para{
	color: #555;
    line-height: 2em;
    margin: 2em 0 3em;
}
.w3ls_banner_bottom_right{
	position:relative;
}
.w3ls_banner_bottom_right_pos{
	position: absolute;
    top: 35%;
    left: -35%;
    width: 80%;
}
.w3l_social_icon_grid{
	position:relative;
}
.w3l_social_icon_gridl{
	float: left;
    width: 80px;
    height: 80px;
    text-align: center;
	cursor: pointer;
}
.w3l_social_icon_gridl i{
	font-size: 1.5em;
    line-height: 3em;
}
.w3_facebook{
    border: 2px solid #3b5998;
}
.w3_facebook i{
    color:#3b5998;
}
.w3_dribbble{
    border: 2px solid #ea4c89;
}
.w3_dribbble i{
    color:#ea4c89;
}
.w3_instagram{
    border: 2px solid #833ab4;
}
.w3_instagram i{
    color:#833ab4;
}
.w3l_social_icon_gridr{
	float: left;
    margin: 1.4em 0 0 7em;
}
.w3l_social_icon_gridr p{
	font-size: 1.5em;
    color: #212121;
    font-weight: bold;
}
.w3l_social_icon_grid_pos{
	position: absolute;
    top: 25%;
    left: 25%;
}
.w3l_social_icon_grid_pos label{
	font-size:1.5em;
	color:#212121;
}
.w3ls_social_icon_grid{
	margin:1em 0;
}
.mid_agile_bannner_top_info {
    text-align: center;
    margin-bottom: 3em;
}
.mid_agile_bannner_top_info h2 {
    color: #111;
    font-size: 3em;
    font-weight: 700;
    letter-spacing: 1px;
}
.mid_agile_bannner_top_info p {
    font-size: 1.2em;
    letter-spacing: 1px;
    font-weight: 600;
    width: 80%;
    margin: 1em auto;
    line-height: 1.9em;
    color: #585757;
}
/*-- //banner-bottom --*/
/*-- banner-bottom-icons --*/
.w3_banner_bottom_icons_left,.w3_banner_bottom_icons_right{
	padding:0;
}
.w3_agile_banner_bottom {
    position: relative;
}
h5.grow {
    position: absolute;
    text-align: center;
    left: 31%;
    top: 47%;
    font-size: 1.8em;
    color: #fff;
    letter-spacing: 1px;
    font-weight: 700;
	z-index: 99;
}
.heading-underline {
    width: 25%;
    margin: 1em auto 2em;
}
.h-u1, .h-u3 {
    width: 30%;
    float: left;
    height: 2px;
    background-color: #EEE;
    margin-top: 1px;
}
.h-u2 {
    width: 40%;
    float: left;
    height: 4px;
    background-color: #00a98f;
}
h3.tittle_agile_w3,.agile_inner_banner_info h2 {
    font-size: 3em;
    color: #111;
    letter-spacing: 1px;
	text-align:center;
}
h3.tittle_agile_w3.two {
  color:#fff;
}
.agile_inner_banner_info h2  {
	 color:#fff;
	 text-transform:uppercase;
	 font-weight:800;
}
.agile_inner_banner_info p {
    color: #f1f1f1;
    letter-spacing: 6px;
    font-size: 0.9em;
    margin-top: 10px;
}
/* Rectangle Out */
.hvr-rectangle-out {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  background: #e1e1e1;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-rectangle-out:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(8, 8, 8, 0.38);
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    z-index: 999;
}
.hvr-rectangle-out:hover, .hvr-rectangle-out:focus, .hvr-rectangle-out:active {
  color: white;
}
.hvr-rectangle-out:hover:before, .hvr-rectangle-out:focus:before, .hvr-rectangle-out:active:before {
  -webkit-transform: scale(1);
  transform: scale(1);
}

/*-- //banner-bottom-icons --*/
.agileits_w3layouts_features_gridr img{
	margin:0 auto;
}
.agile-why-text h4{
    font-size: 1.5em;
    color: #00a98f;
    letter-spacing: 1px;
    font-weight: 700;
}
.agile-why-text p{
    margin: 1em 0 0;
    color: #fff;
    line-height: 2em;
}
.agile-why-text {
    padding-left: 0;
    text-align: left;
}
.wthree_agile_us i{
    text-align: center;
    position: relative;
    z-index: 1;
}
.wthree_agile_us  i{
	font-size: 1.5em;
	color:#efb312;
	line-height:1.5em;
}
.agile-why-text.two {
    text-align: left;
}
.wthree_agile_us {
    margin-bottom: 3em;
}
.why-choose-agile-grids-top,.w3l-news_info_agile_its{
  margin-top:4em;
}
.why-choose-agile {
    text-align: center;
    background: url(../images/meddile.jpg)no-repeat center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    min-height: 746px;
    padding-top: 6em;
}
.response h3 {
    font-size: 2em;
    color: #000;
}
.media-left.response-text-left a img {
    width: 100%;
}
.media:nth-child(2) {
    margin:1em 0;
}
.media-left.response-text-left {
    float: left;
    width: 44%;
    padding: 0;
}
.media-body.response-text-right {
    float: right;
	width: 52%;
}
.media-body.response-text-right h5 {
    font-size: 1.4em;
    color: #000;
    letter-spacing: 1px;
    padding-bottom: .5em;
}
.media-body.response-text-right ul li {
    list-style: none;
    display: inline-block;
    color: #949191;
    font-size: 0.9em;
    letter-spacing: 1px;
    margin-bottom: 0.5em;
}
.media-body.response-text-right ul li i {
    color: #000;
    padding-right: .5em;
}
.media-body.response-text-right ul li:nth-child(2) {
    margin-left: 0.1em;
}
.media-body.response-text-right p {
    font-size: .9em;
    line-height: 1.9em;
}
.media.response-info {
    background: #f9f9f9;
    padding: 1em;
    border: 1px solid #e4e2e2;
}
.read {
    margin-top: 1em;
}
a.view.resw3 {
    font-size: 0.9em;
    color: #fff;
    padding: 0.6em 1.2em;
    background: #00a98f;
    letter-spacing: 1px;
    display: inline-block;
	    border-radius: 5px;
	-webkit-border-radius: 5px;
	-o-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
}
a.view.resw3:hover {
	-webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
	    background: #111;
}
.media.response-info.m2 {
    margin-top: 3em;
}
/*-- model --*/
.modal-header img {
    width: 100%;
}
.modal-header h4{
letter-spacing: 2px;
    text-align: center;
    font-weight: 700;
    font-size: 2em;
    margin: 0.5em 0;
}
.modal-header h5 {
    color: #26abf6;
    font-size: 1.4em;
    letter-spacing: 1px;
    text-align: center;
    margin: 0.3em 0 1em;
}
.modal-header span {
    color: #555;
    letter-spacing: 1px;
    line-height: 33px;
    padding-bottom: 16px;
    display: inline-block;
    margin-top: 1em;
    font-size: 0.9em;
}
.modal-header img{
    float: left;
    width: 100%;
}
/*-- //model --*/
.wthree_events_grid_right {
    position: relative;
    background: url(../images/news.jpg) no-repeat 0px 0px;
    min-height: 768px;
    padding: 2em;
    background-size: cover;
}
.wthree_events_grid_right1 {
    padding: 12em 3em;
    background: rgba(12, 12, 12, 0.25);
    height: 698px;
    text-align: center;
}
.wthree_events_grid_right1 h3 {
    font-size: 2.4em;
    color: #fff;
    text-transform: capitalize;
    letter-spacing: 1px;
}
.wthree_events_grid_right1 p {
    font-size: 1.1em;
    color: #eaeaea;
    margin: 2em 0 4em;
    letter-spacing: 2px;
}
.w3layouts_newsletter_right input[type="email"] {
    outline: none;
    padding: 15px;
    background: #fff;
    color: #000;
    font-size: 1em;
    width: 100%;
    border: none;
    letter-spacing: 1px;
}
.w3layouts_newsletter_right input[type="submit"] {
    outline: none;
    padding: .9em 2.5em;
    background: #111;
    border: none;
    letter-spacing: 1px;
    color: #fff;
    font-size: 1em;
    margin: 2em 0;
}
.w3layouts_newsletter_right input[type="submit"]:hover{
	    background: #00a98f;
}
/*-- //News --*/
.skills_img_agile h4 {
    font-size: 1.6em;
    color: #111;
    letter-spacing: 1px;
}
.skills_img_agile p {
	 line-height:2em;
	 color:#555;
	 margin:1em 0;
}
.skills_img_agile {
    margin-top: 3em;
}
/*-- events-top --*/
.agile_events_top_grid {
    padding: 0;
}
.w3_agileits_evets_text_img{
	position:relative;
}
.agile_events_top_grid_pos{
	position: absolute;
    bottom: -15%;
    left: 39%;
}
.agile_events_top_grid_pos img{
	border:2px solid #212121;
	border-radius:50px;
}
.agileits_w3layouts_events_text{
	text-align:center;
	padding:3.5em 0 0;
}
.agileits_w3layouts_events_text h3{
	font-size:1em;
	color:#212121;
	letter-spacing:1px;
	font-weight:700;
}
.agileits_w3layouts_events_text p {
    color: #555;
    font-size: 0.9em;
}
.view {
    overflow: hidden;
    position: relative;
    text-align: center;
}
.view .mask,.view .content {
   width: 100%;
   height: 100%;
   position: absolute;
   overflow: hidden;
   top: 0;
   left: 0;
}
.view img {
   display: block;
   position: relative;
}
.view .info {
    display: inline-block;
    text-decoration: none;
    margin-top: 7em;
}
.view-eighth .mask {
   top: -160px;
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
   -webkit-transition: all 0.3s ease-out 0.5s;
   -moz-transition: all 0.3s ease-out 0.5s;
   -o-transition: all 0.3s ease-out 0.5s;
   -ms-transition: all 0.3s ease-out 0.5s;
   transition: all 0.3s ease-out 0.5s;
}
.view-eighth .info {
   -webkit-transform: translateY(-200px);
   -moz-transform: translateY(-200px);
   -o-transform: translateY(-200px);
   -ms-transform: translateY(-200px);
   transform: translateY(-200px);
   -webkit-transition: all 0.2s ease-in-out 0.3s;
   -moz-transition: all 0.2s ease-in-out 0.3s;
   -o-transition: all 0.2s ease-in-out 0.3s;
   -ms-transition: all 0.2s ease-in-out 0.3s;
   transition: all 0.2s ease-in-out 0.3s;
}
.view-eighth:hover .mask {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
   filter: alpha(opacity=100);
   opacity: 1;
   top: 0px;
   -webkit-transition-delay: 0s;
   -moz-transition-delay: 0s;
   -o-transition-delay: 0s;
   -ms-transition-delay: 0s;
   transition-delay: 0s;
   -webkit-animation: bounceY 0.9s linear;
   -moz-animation: bounceY 0.9s linear;
   -ms-animation: bounceY 0.9s linear;
   animation: bounceY 0.9s linear;
}
.view-eighth:hover .info {
   -webkit-transform: translateY(0px);
   -moz-transform: translateY(0px);
   -o-transform: translateY(0px);
   -ms-transform: translateY(0px);
   transform: translateY(0px);
   -webkit-transition-delay: 0s;
   -moz-transition-delay: 0s;
   -o-transition-delay: 0s;
   -ms-transition-delay: 0s;
   transition-delay: 0s;
}
@keyframes bounceY {
    0% { transform: translateY(-205px);}
    40% { transform: translateY(-100px);}
    65% { transform: translateY(-52px);}
    82% { transform: translateY(-25px);}
    92% { transform: translateY(-12px);}
    55%, 75%, 87%, 97%, 100% { transform: translateY(0px);}
}
@-moz-keyframes bounceY {
    0% { -moz-transform: translateY(-205px);}
    40% { -moz-transform: translateY(-100px);}
    65% { -moz-transform: translateY(-52px);}
    82% { -moz-transform: translateY(-25px);}
    92% { -moz-transform: translateY(-12px);}
    55%, 75%, 87%, 97%, 100% { -moz-transform: translateY(0px);}
}
@-webkit-keyframes bounceY {
    0% { -webkit-transform: translateY(-205px);}
    40% { -webkit-transform: translateY(-100px);}
    65% { -webkit-transform: translateY(-52px);}
    82% { -webkit-transform: translateY(-25px);}
    92% { -webkit-transform: translateY(-12px);}
    55%, 75%, 87%, 97%, 100% { -webkit-transform: translateY(0px);}
}
/*-- //events-top --*/
.events-top {
    padding-bottom: 6em;
}
.events-top {
    padding-bottom: 6em;
}
ul.portfolio_agile_info_w3ls li {
    list-style: none;
    display: inline-block;
    width: 33%;
    margin-bottom: 0.3%;
}
.agileits_w3layouts_events_text.port_info_agile {
    text-align: center;
    padding: 1em 0;
    background: #000;
    color: #fff;
}
.agileits_w3layouts_events_text.port_info_agile  h3{
 color:#fff;
 letter-spacing:1px;
}
/*--flexisel--*/
.flex-slider{
	background:#222227;
	padding: 70px 0 165px 0;
}
#flexiselDemo1 {
	display: none;
}
.nbs-flexisel-container {
	position: relative;
	max-width: 100%;
}
.nbs-flexisel-ul {
	position: relative;
	width: 9999px;
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}
.nbs-flexisel-inner {
	overflow: hidden;
	margin: 0px auto;
	padding:0;
}
.nbs-flexisel-item {
	float: left;
	margin: 0;
	padding: 0px;
	position: relative;
	line-height: 35px;
}
.nbs-flexisel-item > img {
	cursor: pointer;
	position: relative;
}
/*---- Nav ---*/
.nbs-flexisel-nav-left, .nbs-flexisel-nav-right {
    width: 40px;
    height: 40px;
    position: absolute;
    cursor: pointer;
    z-index: 100;
    background:none;
    top: -5% !important;
    border-radius: 5px;
	display:none;
}
.nbs-flexisel-nav-left {
	left:91%;
}
.nbs-flexisel-nav-right {
	right: 1.2%;
    background:none;
}
.mask i {
    font-size: 2.5em;
    color: #fff;
    line-height: 6em;
}
/*--//flexisel--*/
.w3layouts_getin a {
    font-size: 1em;
    color: #fff;
    background: #efb312;
    padding: 0.7em 1em;
    letter-spacing: 1px;
    border-radius: 5px;
	-webkit-border-radius: 5px;
	-o-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
}
.w3layouts_bottom {
    background: #00a98f;
    padding: 4em 0;
}
.w3layouts_getin_info h3 {
    color: #000;
    letter-spacing: 4px;
    font-size: 1.5em;
}
/*-- footer --*/
.footer {
    background: #000;
    padding: 4em 0;
}
ul.agile_footer_grid_list li{
    color: #777676;
    line-height: 1.8em;
    list-style-type: none;
    font-size: 0.9em;
}
ul.agile_footer_grid_list li:nth-child(2){
	margin:2em 0 0;
}
ul.agile_footer_grid_list li a{
	color:#efb312;
	text-decoration:none;
}
ul.agile_footer_grid_list li a:hover{
	color:#fff;
}
ul.agile_footer_grid_list li span{
	display:block;
	color:#fff;
	margin:.5em 0 0;
}
ul.agile_footer_grid_list li i{
	padding-right:1.5em;
	color:#0accff;
}
.w3_agile_footer_grid h3 {
    font-size: 1.6em;
    color: #fff;
    padding-bottom: .7em;
    position: relative;
    margin-bottom: 1.5em;
    letter-spacing: 2px;
}
.w3_agile_footer_grid h3:after {
    content: '';
    background: #efb312;
    width: 20%;
    height: 2px;
    position: absolute;
    bottom: 0%;
    left: 0%;
}
.agileits_w3layouts_footer_grid_list li{
	list-style-type:none;
	margin-bottom:1em;
	color:#999;
	text-transform:uppercase;
}
.agileits_w3layouts_footer_grid_list li i{
    color: #00a98f;
    padding-right: 1em;
}
.agileits_w3layouts_footer_grid_list li a{
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 0.9em;
}
.agileits_w3layouts_footer_grid_list li a:hover{
	color: #efb312;
}
.agileits_w3layouts_footer_grid_list li:last-child{
	margin-bottom:0;
}
.w3_agileits_footer_grid_left{
	float:left;
	width:33.33%;
}
.w3_newsletter_footer_grid_right{
	text-align: center;
    margin-top: .5em;
}
.wthree_footer_grid_left{
    width: 55px;
    height: 55px;
    border-radius: 50px;
    text-align: center;
    background: #00a98f;
    border: 2px solid #000;
    margin: 0 auto 1em;
}
.wthree_footer_grid_left i{
	color: #fff;
    font-size: 1em;
    line-height:3.3em;
}
.w3ls_footer_grid_left p{
    color: #737171;
    line-height: 2em;
    font-size: 0.9em;
}
.w3ls_address_mail_footer_grids {
    margin-top: 2em;
}
.w3ls_footer_grid_left p span{
	display:block;
}
.w3ls_footer_grid_left p a{
	color:#999;
	text-decoration:none;
}
.w3ls_footer_grid_left p a:hover{
	color:#fff;
}
.w3ls_footer_grid_left{
	text-align:center;
}
.agileinfo_copyright{
    margin: 3em 0 0;
    padding: 1em 0;
    text-align: center;
    background: #0c0c0c;
}
.agileinfo_copyright p{
    color: #fff;
    line-height: 2em;
    font-size: 0.9em;
}
.agileinfo_copyright p a{
    color: #efb312;
	text-decoration:none;
}
.agileinfo_copyright p a:hover{
	color:#fff;
}
/*-- //footer --*/
.agile_inner_banner_info {
    text-align: center;
    background: url(../images/banner4.jpg)no-repeat center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    min-height: 300px;
    padding-top: 7em;
}
/*-- to-top --*/
#toTop {
	display: none;
	text-decoration: none;
	position: fixed;
	bottom: 20px;
	right: 2%;
	overflow: hidden;
	z-index: 999;
	width: 32px;
	height: 32px;
	border: none;
	text-indent: 100%;
	background: url(../images/arrow.png) no-repeat 0px 0px;
}
#toTopHover {
	width: 32px;
	height: 32px;
	display: block;
	overflow: hidden;
	float: right;
	opacity: 0;
	-moz-opacity: 0;
	filter: alpha(opacity=0);
}
/*-- //to-top --*/

/*-- bars --*/
body .bar_group__bar.thin::before, body .bar_group__bar.thick::before {
  display: block;
  content: '';
  position: absolute;
  z-index: -1;
}

body .bar_group__bar.thin::before {
    width: 100%;
    height: 20px;
    background: #ddd;
}

body .bar_group__bar.thin {
    width: 0%;
    height: 20px;
    background: #00a98f;
    margin-bottom: 20px;
    -webkit-transition: width 1s;
    transition: width 1s;
}
.bar_group{
    position: relative;
    z-index: 1;
}
body .bar_group__bar.thin:last-child {
    margin-bottom: 0;
}
p.b_label {
    font-size: 1em;
    color: #212121;
    margin-bottom: .8em;
    font-weight: 700;
    letter-spacing: 1px;
}
/*-- //bars --*/
/*-- //services-bottom --*/
/*-- featured-services --*/
.w3_featured_services_grid h4{
	margin:2em 0 1em;
	color:#212121;
	font-size: 1.1em;
	text-transform:uppercase;
}
.w3_featured_services_grid p{
	color:#999;
	line-height:2em;
	margin-bottom: 2em;
}
.w3l_service_more a{
	font-size:14px;
	color:#13b3bb;
	text-decoration:none;
	text-transform:uppercase;
	letter-spacing:2px;
	font-weight:600;
}
.w3l_service_more a:hover{
	color:#212121;
}
/*-- //featured-services --*/
/*-- icons --*/
.grid_3.grid_4.w3_agileits_icons_page {
    margin: 0;
}
ul.bs-glyphicons-list li:hover {
    background: #000;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    -moz-transition: 0.5s all;
}
ul.bs-glyphicons-list li:hover span {
    color: #fff;
}
.codes a {
    color: #555;
}
.row.fontawesome-icon-list {
    margin: 0;
}
.icon-box {
    padding: 8px 15px;
    background:rgba(149, 149, 149, 0.18);
    margin: 1em 0 1em 0;
    border: 5px solid #ffffff;
    text-align: left;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 13px;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    -moz-transition: 0.5s all;
    cursor: pointer;
}
.icon-box:hover {
    background: #000;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
	-moz-transition:0.5s all;
}
.icon-box:hover i.fa {
	color:#fff !important;
}
.icon-box:hover a.agile-icon {
	color:#fff !important;
}
.codes .bs-glyphicons li {
    float: left;
    width: 12.5%;
    height: 115px;
    padding: 10px;
    line-height: 1.4;
    text-align: center;
    font-size: 12px;
    list-style-type: none;
}
.codes .bs-glyphicons .glyphicon {
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 24px;
}
.codes .glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	color: #777;
}
.codes .bs-glyphicons .glyphicon-class {
    display: block;
    text-align: center;
    word-wrap: break-word;
}
h3.icon-subheading {
	font-size: 25px;
    color:#13b3bb !important;
    margin: 30px 0 15px;
	font-weight: 400;
}
h3.agileits-icons-title {
    text-align: center;
    font-size: 35px;
    color: #000;
    font-weight: 300;
}
.icons a {
    color: #555;
}
.icon-box i {
    margin-right: 10px !important;
    font-size: 20px !important;
    color: #282a2b !important;
}
.bs-glyphicons li {
    float: left;
    width: 18%;
    height: 115px;
    padding: 10px;
    line-height: 1.4;
    text-align: center;
    font-size: 12px;
    list-style-type: none;
    background:rgba(149, 149, 149, 0.18);
    margin: 1%;
	cursor: pointer;
}
.bs-glyphicons .glyphicon {
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 24px;
	color: #282a2b;
}
.glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	color: #777;
}
.bs-glyphicons .glyphicon-class {
    display: block;
    text-align: center;
    word-wrap: break-word;
}
@media (max-width:1080px){
	.icon-box {
		width:33.33%;
	}
}
@media (max-width:991px){
	h3.agileits-icons-title {
		font-size: 28px;
	}
	h3.icon-subheading {
		font-size: 22px;
	}
	.icon-box {
		width: 50%;
	}
}
@media (max-width:768px){
	h3.agileits-icons-title {
		font-size: 28px;
	}
	h3.icon-subheading {
		font-size: 25px;
	}
	.row {
		margin-right: 0;
		margin-left: 0;
	}
	.icon-box {
		margin: 0;
	}
}
@media (max-width: 640px){
	.icon-box {
		float: left;
		width: 50%;
	}
	h3.icon-subheading {
		font-size: 22px;
	}
	.grid_3.grid_4.w3_agileits_icons_page {
		margin-top: 0;
	}
}
@media (max-width: 480px){
	.bs-glyphicons li {
		width: 31%;
	}
	h3.agileits-icons-title {
		font-size: 25px;
	}
	h3.icon-subheading {
		font-size: 19px;
	}
}
@media (max-width: 414px){
	h3.agileits-icons-title {
		font-size: 23px;
	}
	h3.icon-subheading {
		font-size: 18px;
	}
	.bs-glyphicons li {
		width: 31.33%;
	}
}
@media (max-width: 384px){
	.icon-box {
		float: none;
		width: 100%;
	}
}
@media (max-width: 375px){
	.w3_agileits_icons_page {
		margin:0 !important;
	}
}
/*-- //icons --*/
/*--Typography--*/
.well {
    font-weight: 300;
    font-size: 14px;
}
.list-group-item {
    font-weight: 300;
    font-size: 14px;
}
li.list-group-item1 {
    font-size: 14px;
    font-weight: 300;
}
.typo p {
    margin: 0;
    font-size: 14px;
    font-weight: 300;
}
.show-grid [class^=col-] {
    background: #fff;
	text-align: center;
	margin-bottom: 10px;
	line-height: 2em;
	border: 10px solid #f0f0f0;
}
.show-grid [class*="col-"]:hover {
	background: #e0e0e0;
}
.grid_3{
	margin-bottom:2em;
}
.xs h3, h3.m_1{
	color:#000;
	font-size:1.7em;
	font-weight:300;
	margin-bottom: 1em;
}
.grid_3 p{
	color: #555;
	font-size: 0.85em;
	margin-bottom: 1em;
	font-weight: 300;
}
.grid_4{
	background:none;
	margin-top:50px;
}
.label {
	font-weight: 300 !important;
	border-radius:4px;
}
.grid_5{
	background:none;
	padding:2em 0;
}
.grid_5 h3, .grid_5 h2, .grid_5 h1, .grid_5 h4, .grid_5 h5, h3.hdg, h3.bars {
	margin-bottom: 1em;
    color: #13b3bb;
    font-weight: 400;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
	border-top: none !important;
}
.tab-content > .active {
	display: block;
	visibility: visible;
}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
	z-index: 0;
}
.badge-primary {
	background-color: #03a9f4;
}
.badge-success {
	background-color: #8bc34a;
}
.badge-warning {
	background-color: #ffc107;
}
.badge-danger {
	background-color: #e51c23;
}
.grid_3 p{
	line-height: 2em;
	color: #888;
	font-size: 0.9em;
	margin-bottom: 1em;
	font-weight: 300;
}
.bs-docs-example {
	margin: 1em 0;
}
section#tables  p {
	margin-top: 1em;
}
.tab-container .tab-content {
	border-radius: 0 2px 2px 2px;
	border: 1px solid #e0e0e0;
	padding: 16px;
	background-color: #ffffff;
}
.table td, .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
	padding: 15px!important;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
	font-size: 0.9em;
	color: #555;
	border-top: none !important;
}
.tab-content > .active {
	display: block;
	visibility: visible;
}
.label {
	font-weight: 300 !important;
}
.label {
	padding: 4px 6px;
	border: none;
	text-shadow: none;
}
.alert {
	font-size: 0.85em;
}
h1.t-button,h2.t-button,h3.t-button,h4.t-button,h5.t-button {
	line-height:2em;
	margin-top:0.5em;
	margin-bottom: 0.5em;
}
li.list-group-item1 {
	line-height: 2.5em;
}
.input-group {
	margin-bottom: 20px;
}
.in-gp-tl{
	padding:0;
}
.in-gp-tb{
	padding-right:0;
}
.list-group {
	margin-bottom: 48px;
}
ol {
	margin-bottom: 44px;
}
h2.typoh2{
    margin: 0 0 10px;
}
@media (max-width:800px){
	.grid_3.grid_5.w3ls,.grid_3.grid_5.w3l,.grid_3.grid_5.agileits,.grid_3.grid_5.agileinfo,.grid_3.grid_5.wthree {
		margin: 0;
	}
}
@media (max-width:768px){
	.grid_5 {
		padding: 0 0 1em;
	}
	.grid_3 {
		margin-bottom: 0em;
	}
	.grid_3.grid_5.w3l {
		margin-top: 1.5em;
	}
}
@media (max-width:640px){
	h1, .h1, h2, .h2, h3, .h3 {
		margin-top: 0px;
		margin-bottom: 0px;
	}
	.grid_5 h3, .grid_5 h2, .grid_5 h1, .grid_5 h4, .grid_5 h5, h3.hdg, h3.bars {
		margin-bottom: .5em;
	}
	.progress {
		height: 10px;
		margin-bottom: 10px;
	}
	ol.breadcrumb li,.grid_3 p,ul.list-group li,li.list-group-item1 {
		font-size: 14px;
	}
	.breadcrumb {
		margin-bottom: 25px;
	}
	.well {
		font-size: 14px;
		margin-bottom: 10px;
	}
	h2.typoh2 {
		font-size: 1.5em;
	}
	.label {
		font-size: 60%;
	}
	.in-gp-tl {
		padding: 0 1em;
	}
	.in-gp-tb {
		padding-right: 1em;
	}
	.list-group {
		margin-bottom: 20px;
	}
}
@media (max-width:480px){
	.grid_5 h3, .grid_5 h2, .grid_5 h1, .grid_5 h4, .grid_5 h5, h3.hdg, h3.bars {
		font-size: 1.2em;
	}
	.table h1 {
		font-size: 26px;
	}
	.table h2 {
		font-size: 23px;
	}
	.table h3 {
		font-size: 20px;
	}
	.label {
		font-size: 53%;
	}
	.alert,p {
		font-size: 14px;
	}
	.pagination {
		margin: 20px 0 0px;
	}
	.grid_3.grid_4.w3layouts {
		margin-top: 0;
	}
}
@media (max-width: 320px){
	.grid_4 {
		margin-top: 18px;
	}
	h3.title {
		font-size: 1.6em;
	}
	.alert, p,ol.breadcrumb li, .grid_3 p,.well, ul.list-group li, li.list-group-item1,a.list-group-item {
		font-size: 13px;
	}
	.alert {
		padding: 10px;
		margin-bottom: 10px;
	}
	ul.pagination li a {
		font-size: 14px;
		padding: 5px 11px;
	}
	.list-group {
		margin-bottom: 10px;
	}
	.well {
		padding: 10px;
	}
	.nav > li > a {
		font-size: 14px;
	}
	table.table.table-striped,.table-bordered,.bs-docs-example {
		display: none;
	}
}
/*-- //typography --*/
/*-- about --*/
.w3_about_grid{
	padding:0 1em;
	margin-bottom: 2em;
}
.w3layouts_about_grid_left{
	padding:0;
}
.w3layouts_about_grid_right h3{
    font-size: 1.5em;
    color: #212121;
    line-height: 1.5em;
    letter-spacing: 2px;
    font-weight: 700;
}
.w3layouts_about_grid_right p.w3_turpis_para{
    margin: 1em 0 3em;
    line-height: 2em;
    color: #555;
}
.w3layouts_about_grid_right_grid1l_1{
    width: 65px;
    height: 65px;
    background: #ffffff;
    text-align: center;
    border: 2px solid #212121;
	    border-radius: 5px;
	-webkit-border-radius: 5px;
	-o-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
}
.w3layouts_about_grid_right_grid1l_1 i{
    font-size: 1.3em;
    color: #efb312;
    line-height: 3.2em;
}
.w3layouts_about_grid_right_grid1r h4{
    font-size: 1.2em;
    color: #00a98f;
    margin-bottom: .5em;
    font-weight: 700;
    letter-spacing: 1px;
}
.w3layouts_about_grid_right_grid1r p{
    color: #555;
    line-height: 2em;
}
.w3layouts_about_grid_right_grid:nth-child(2) {
    margin: 2em 0;
}
/*-- //about --*/
/*-- about-bottom --*/
.w3l_about_bottom_left{
	padding:0;
	position:relative;
}
.w3l_about_bottom_left img{
	width:100%;
}
.play-icon{
    position: absolute;
    top: 51%;
    left: 46%;
}
.play-icon i {
    font-size: 3em;
    color: #efb312;
}
.play-icon:focus{
	outline:none;
}
.w3l_about_bottom_left_video{
	position: absolute;
    top: 37%;
    left: 36%;
}
.w3l_about_bottom_left_video h4{
	text-transform:uppercase;
	font-size:1.5em;
	color:#fff;
}
.w3l_about_bottom_right{
	padding: 3em 5em;
    background: #f5f5f5;
    min-height: 495px;
}
h3.tittle_agile_w3.why {
    font-size: 2em;
	}
/*-- //about-bottom --*/
/*-- faq --*/
.pa_italic i {
    left: -1em;
	font-size: 11px;
}
.pa_italic span {
    display: none;
}
.collapsed span {
    display: inline-block;
    left: -1em;
	font-size: 11px;
}
.collapsed i {
    display: none;
}
.panel-heading {
    padding:10px 30px;
}
.panel-title > a{
    font-size: 1em;
    color:#212121;
    text-transform: capitalize;
	text-decoration: none;
}
.panel-default {
    border-color: #FFF;
	background: #f5f5f5;
}
.panel-default > .panel-heading {
    border-color: #FFF;
	color:#212121;
    background-color: #fff;
}
.panel-body {
    padding: 2em;
    font-size: 14px;
    line-height: 2em;
    color: #555;
    background: #e7e7e7;
}
a.pa_italic label {
    cursor: pointer;
	font-weight:500;
}
a.pa_italic:focus {
    outline: none;
    text-decoration: none;
}
.panel-default > .panel-heading + .panel-collapse > .panel-body {
    border-top-color: transparent;
}
/*-- //faq --*/
/*-- team --*/
.w3ls_team_grid1{
	position:relative;
}
.w3ls_team_grid1_pos{
	position:absolute;
	right:0%;
	bottom:-5%;
	background: none;
}
.w3ls_team_grid1_pos ul li:nth-child(2),.w3ls_team_grid1_pos ul li:nth-child(3){
	opacity:0;
}
.w3ls_team_grid:hover .w3ls_team_grid1_pos ul li:nth-child(2),.w3ls_team_grid:hover  .w3ls_team_grid1_pos ul li:nth-child(3){
	opacity:1;
}
.w3ls_team_grid{
	text-align: center;
    position: relative;
    overflow: hidden;
}
.w3ls_team_grid h4{
    margin: 2em 0 0.3em;
    color: #212121;
    letter-spacing: 1px;
    font-size: 1.1em;
}
.w3ls_team_grid p{
	color:#13b3bb;
}
/*-- //team --*/
/*-- contact --*/
.agileits_map iframe{
	width:100%;
	min-height:400px;
}
.agileinfo_mail_grids{
	margin:2em 0 0;
}
.w3ls_footer_grid_left.con {
    background: #f9fbfd;
    padding: 2em 0em;
    box-shadow: 0 0px 24px 0 rgba(0, 0, 0, 0.06), 0 1px 0px 0 rgba(0, 0, 0, 0.02);
    -webkit-box-shadow: 0 0px 24px 0 rgba(0, 0, 0, 0.06), 0 1px 0px 0 rgba(0, 0, 0, 0.02);
    -moz-box-shadow: 0 0px 24px 0 rgba(0, 0, 0, 0.06), 0 1px 0px 0 rgba(0, 0, 0, 0.02);
    -o-box-shadow: 0 0px 24px 0 rgba(0, 0, 0, 0.06), 0 1px 0px 0 rgba(0, 0, 0, 0.02);
    border: 1px solid #ddd;
    padding: 2em 0;
    width: 32%;
}
.w3ls_footer_grid_left.con:nth-child(2) {
   margin:0 1%;
  }
/*-- effect --*/
.input {
	position: relative;
	z-index: 1;
	display: inline-block;
	margin: 1em 1.7em 1em 0;
	max-width: 350px;
	width: calc(100% - 0em);
	vertical-align: top;
}

.input__field {
	position: relative;
	display: block;
	float: right;
	padding: 0.8em;
	width: 60%;
	border: none;
	border-radius: 0;
	background: #f0f0f0;
	color: #aaa;
	font-weight: 400;
	-webkit-appearance: none; /* for box shadows to show on iOS */
}

.input__field:focus {
	outline: none;
}

.input__label {
	display: inline-block;
	float: right;
	padding: 0 1em;
	width: 40%;
	color: #696969;
	font-weight: bold;
	font-size:12px;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.input__label-content {
	position: relative;
	display: block;
	padding: 1.6em 0;
	width: 100%;
}

/* Chisato */

.input--chisato {
	padding-top: 1em;
}

.input__field--chisato {
	width: 100%;
	padding:.9em 0.5em;
	background: transparent;
	border: 2px solid #b5b5b5;
	color: #212121;
	-webkit-transition: border-color 0.25s;
	transition: border-color 0.25s;
}

.input__label--chisato {
	width: 100%;
	position: absolute;
	top: 0;
	text-align: left;
	overflow: hidden;
	padding: 0;
	pointer-events: none;
	-webkit-transform: translate3d(0, 3em, 0);
	transform: translate3d(0, 3em, 0);
}

.input__label-content--chisato {
	padding: 0 1em;
	font-weight: 400;
	color: #b5b5b5;
}

.input__label-content--chisato::after {
	content: attr(data-content);
	position: absolute;
	top: -200%;
	left: 0;
	color: #00a98f;
	font-weight: 800;
}

.input__field--chisato:focus,
.input--filled .input__field--chisato {
	border-color: #00a98f;
}

.input__field--chisato:focus + .input__label--chisato,
.input--filled .input__label--chisato {
	-webkit-animation: anim-chisato-1 0.25s forwards;
	animation: anim-chisato-1 0.25s forwards;
}

.input__field--chisato:focus + .input__label--chisato .input__label-content--chisato,
.input--filled .input__label-content--chisato {
	-webkit-animation: anim-chisato-2 0.25s forwards ease-in;
	animation: anim-chisato-2 0.25s forwards ease-in;
}

@-webkit-keyframes anim-chisato-1 {
	0%, 70% {
		-webkit-transform: translate3d(0, 3em, 0);
		transform: translate3d(0, 3em, 0);
	}
	71%, 100% {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
}

@-webkit-keyframes anim-chisato-2 {
	0% {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
	70%, 71% {
		-webkit-transform: translate3d(0, 125%, 0);
		transform: translate3d(0, 125%, 0);
		opacity: 0;
		-webkit-animation-timing-function: ease-out;
	}
	100% {
		color: transparent;
		-webkit-transform: translate3d(0, 200%, 0);
		transform: translate3d(0, 200%, 0);
	}
}

@keyframes anim-chisato-1 {
	0%, 70% {
		-webkit-transform: translate3d(0, 3em, 0);
		transform: translate3d(0, 3em, 0);
	}
	71%, 100% {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
}

@keyframes anim-chisato-2 {
	0% {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
	70%, 71% {
		-webkit-transform: translate3d(0, 125%, 0);
		transform: translate3d(0, 125%, 0);
		opacity: 0;
		-webkit-animation-timing-function: ease-out;
	}
	100% {
		color: transparent;
		-webkit-transform: translate3d(0, 200%, 0);
		transform: translate3d(0, 200%, 0);
	}
}
/*-- //effect --*/
.agileinfo_mail_grids textarea {
outline: none;
    background: none;
    border: 2px solid #b5b5b5;
    font-size: 12px;
    color: #212121;
    width: 97.5%;
    padding: .9em 1em;
    margin: 2em 0;
    min-height: 200px;
    letter-spacing: 1px;
}
.agileinfo_mail_grids textarea:focus {
    border-color:#00a98f;
}
.agileinfo_mail_grids input[type="submit"] {
    outline: none;
      background: #efb312;
    border: none;
    font-size: 14px;
    color: #fff;
    width: 30%;
    padding:1em 0;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
	    border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
}
.agileinfo_mail_grids input[type="submit"]:hover{
background: #00a98f;
}
/*-- //contact --*/
/*-- social-icons --*/
ul.social-icons li {
    display: inline-block;
}
.icon {
	display: inline-block;
	vertical-align: top;
	overflow: hidden;
	margin: 0;
	width: 30px;
	height: 30px;
	font-family: FontAwesome;
	font-size:1em;
	color:#fff;
	text-align:center;
	border-radius: 25px;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	-o-border-radius: 25px;
	-ms-border-radius: 25px;
}
.icon-border {
	position: relative;
}

.icon-border::before,
.icon-border::after {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	content: "";
	border-radius: 25px;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	-o-border-radius: 25px;
	-ms-border-radius: 25px;
	line-height: 2.2em;
}

.icon-border::before {
	z-index: 1;
	-webkit-transition: box-shadow 0.3s;
          transition: box-shadow 0.3s;
}

.icon-border::after {
	z-index: 2;
}

/* facebook */
.icon-border.facebook::before {
	box-shadow:inset 0 0 0 48px #212121;
}

.icon-border.facebook:hover::before {
	box-shadow:inset 0 0 0 2px #3b5998;
}

.icon-border.facebook::after {
	content:"\f09a";
}
.icon-border.facebook:hover::after {
	color:#3b5998;
}

/* twitter */
.icon-border.twitter::before {
	box-shadow:inset 0 0 0 48px #212121;
}

.icon-border.twitter:hover::before {
	box-shadow:inset 0 0 0 2px #1da1f2;
}

.icon-border.twitter::after {
	content:"\f099";
}
.icon-border.twitter:hover::after {
	color:#1da1f2;
}

/* instagram */
.icon-border.instagram::before {
	box-shadow: inset 0 0 0 48px #212121;
}

.icon-border.instagram:hover::before {
	box-shadow: inset 0 0 0 2px #833ab4;
}

.icon-border.instagram::after {
	content: "\f16d";
}
.icon-border.instagram:hover::after {
	color:#833ab4;
}

/* pinterest */
.icon-border.pinterest::before {
	box-shadow: inset 0 0 0 48px #212121;
}

.icon-border.pinterest:hover::before {
	box-shadow: inset 0 0 0 2px #bd081c;
}

.icon-border.pinterest::after {
	content: "\f231";
}
.icon-border.pinterest:hover::after {
	color:#bd081c;
}
/*-- //social-icons --*/
/*-- start-responsive-design --*/
@media (max-width:1680px){
	.w3_banner_bottom_icons1 {
		padding: 0.88em;
	}
	.w3l_about_bottom_right {
		min-height: 520px;
	}
}
@media (max-width:1600px){
	.w3_banner_bottom_icons1 {
		padding: 0.45em;
	}
	.w3l_about_bottom_right{
		min-height: 495px;
	}
}
@media (max-width:1440px){
	.w3_banner_bottom_icons1 i {
		font-size: 1.4em;
		width: 55px;
		height: 55px;
	}
	.w3_banner_bottom_icons1 {
		padding: 0.414em;
	}
	.w3l_about_bottom_right {
		min-height: 445px;
		padding: 2em 3em 0;
	}
}
@media (max-width:1366px){
	.w3_banner_bottom_icons1 h3 {
		font-size: 1.023em;
	}
	#m_nav_list {
		margin: 2.2em 0 0;
	}
	.agile_banner_info {
		margin: 10em auto 5em;
	}
	.view .info {
		margin-top: 6em;
	}
	.panel-group {
		margin-bottom: 10px;
	}
	.w3l_about_bottom_right {
		min-height: 421px;
		padding: 2em 2em 0;
	}
	.w3l_about_bottom_right p {
		margin: 1em 0 2em;
	}
	.agileinfo_header1:before {
		left: -2%;
	}
}
@media (max-width:1280px){
	#m_nav_menu {
		right: 5%;
	}
	.w3_agile_logo h1 a {
		font-size: 1.3em;
	}
	.w3_agile_logo h1 a:before {
		width: 27px;
		height: 47px;
	}
	.agile_banner_info_pos {
		top: 40%;
	}
	.w3_banner_bottom_icons1_effect {
		padding: 0.536em;
	}
	.services_bottom_grid_left1 {
		left: 15%;
	}
	.w3l_about_bottom_left img {
		min-height: 450px;
	}
	.w3l_about_bottom_right {
		min-height: 450px;
	}
	.w3l_about_bottom_left_video {
		left: 33%;
	}
	.mid_agile_bannner_top_info h2,h3.tittle_agile_w3, .agile_inner_banner_info h2 {
		font-size: 2.5em;
	}
	.mask i {
		font-size: 2.5em;
		line-height: 5em;
	}
	.mid_agile_bannner_top_info p {
       font-size: 1.1em;
	}
}
@media (max-width: 1080px){
	.agile_banner_info {
		margin: 8em auto 4em;
		width: 90%;
	}
	.agile_banner_info h2 span {
		font-size: 3.2em;
	}
	.agile_banner_info p {
		width: 90%;
	}
	.agile_banner_info_pos {
		left: -24%;
	}
	.w3ls_banner_bottom_right_pos {
		top: 60%;
	}
	.view .info {
		margin-top: 4em;
	}
	.agile_events_top_grid_pos {
		left: 34%;
	}
	.w3layouts_newsletter_right input[type="email"] {
		width: 74%;
	}
	.w3layouts_newsletter_left h3 {
		font-size: 1.8em;
	}
	.why-choose-agile {
		min-height: 653px;
		padding-top: 5em;
	}
	.services-bottom {
		min-height: 385px;
	}
	.services_bottom_grid_left1 {
		top: -28%;
	}
	.input--chisato:nth-child(3){
		margin-right:0;
	}
	.input {
		max-width: 292px;
	}
	.agileinfo_mail_grids textarea {
		width: 99.6%;
	}
	.w3layouts_about_grid_right h3 {
		font-size: 1.3em;
		letter-spacing: 2px;
	}
	.w3layouts_about_grid_right p.w3_turpis_para {
		margin: 1em 0 2em;
	}
	.w3l_about_bottom_left_video {
		left: 30%;
	}
	.agileinfo_header:after {
		right: 63%;
	}
	.w3layouts_services_grid h4 {
		font-size: 6em;
	}
	.w3layouts_services_grid_pos {
		left: 2%;
	}
	.agileinfo_header {
		letter-spacing: 2px;
	}
	.w3_featured_services_grid h4 {
		font-size: 1em;
	}
	.w3layouts_about_grid_right {
		padding-right: 0;
	}
	.agileinfo_header1:after {
		right: 34%;
	}
	ul.nav.navbar-nav {
		margin-top: 29px;
	}
	.agile-why-text h4 {
       font-size: 1.2em;
	}
	p, ul li, ol li {
		margin: 0;
		font-size: 0.9em;
	}
	.why-choose-agile-grids-top, .w3l-news_info_agile_its {
		margin-top: 3em;
	}
	media-body.response-text-right h5 {
       font-size: 1.2em;
	}
	.mask i {
		font-size: 2.5em;
		line-height: 4em;
	}
	.events-top {
		padding-bottom: 4em;
	}
	.footer {
		padding: 3em 0;
	}
	.agileits_banner_bottom_left h3 {
      font-size: 1.7em;
	}
}
@media (max-width: 1024px){
	.w3ls_banner_bottom_right_pos {
		top: 56%;
	}
	.banner-bottom, .events, .services, .featured-services {
		padding: 4em 0;
	}
	.agileits_banner_bottom_left p.w3l_para {
		margin: 2em 0;
	}
	.w3l_social_icon_grid_pos {
		left: 31%;
	}
	.agileinfo_header {
		font-size: 1.8em;
	}
	.w3layouts_about_grid_right_grid1l {
		width: 20%;
		padding-left: 0;
	}
	.w3layouts_about_grid_right_grid1r {
		width: 80%;
	}
	.agileinfo_header1:before {
		left: -5%;
	}
	.w3ls_team_grid h4 {
		font-size: 1em;
	}
	.why-choose-agile-grids-top, .w3l-news_info_agile_its {
		margin-top: 2em;
	}
	h5.grow {
		position: absolute;
		text-align: center;
		left: 28%;
		top: 47%;
		font-size: 1.4em;
	}
	.banner-bottom, .events, .services, .featured-services, .skills {
		padding: 4em 0;
	}
	.agile_inner_banner_info {
		min-height: 201px;
		padding-top: 4em;
	}
}
@media (max-width: 991px){
	.agile_banner_info h2 span {
		font-size: 3em;
	}
	.agile_banner_info {
		margin: 6em auto 3em;
		width: 100%;
	}
	.agile_banner_info_pos {
		left: -26%;
		top: 55%;
	}
	#m_nav_list {
		margin: 2.1em 0 0;
	}
	.agileits_banner_bottom_left h3 {
		font-size: 1.8em;
	}
	.w3l_social_icon_gridr {
		margin: 1.4em 0 0 15em;
	}
	.agileits_banner_bottom_right {
		margin: 2em 0 0;
	}
	.agileits_banner_bottom_right img{
		margin:0 auto;
	}
	.w3ls_banner_bottom_right_pos {
		top: 30%;
		left: -10%;
	}
	.banner-bottom-icons {
		padding: 2em 0 0;
	}
	.w3_banner_bottom_icons1_effect {
		padding: 1em;
	}
	.w3_banner_bottom_icons1 {
		padding: 2em;
	}
	.agile_events_top_grid_pos {
		left: 32%;
	}
	.w3_banner_bottom_icons1 h3 {
		font-size: 1.1em;
	}
	.agileinfo_header:before, .agileinfo_header:after {
		width: 18%;
	}
	.agileinfo_header:after {
		right: 50%;
	}
	.agileinfo_header:before {
		left: -5%;
	}
	.wthree_events_grid_left1_gridr h4 a {
		font-size: 1.1em;
	}
	.w3_modal_body_left img{
		margin:0 auto;
	}
	.wthree_events_grid_right {
		width: 96%;
		margin: 3% auto 0;
	}
	.w3layouts_newsletter_left {
		float: none;
		text-align: center;
		margin-bottom: 1em;
	}
	.w3layouts_newsletter_right {
		float: none;
		width: 100%;
		margin: 0 auto;
	}
	.wthree_events_grid_left:before, .wthree_events_grid_left:after {
		left: -1.5%;
	}
	.agileinfo_footer_grid {
		float: left;
		width: 50%;
	}
	.agileinfo_footer_grid:nth-child(2){
		margin-bottom:2em;
	}
	.w3_services_grid {
		float: left;
		width: 33.33%;
	}
	.w3layouts_services_grid h4 {
		font-size: 5.7em;
	}
	.w3_services_grid h3 {
		line-height: 1.5em;
	}
	.services_bottom_grid_right {
		margin: 2em 0 0;
		width: 100%;
		float: right;
	}
	.services-bottom {
		min-height: 360px;
		margin: 4em 0 0;
	}
	.services_bottom_grid_left1 {
		top: -20.5%;
		width: 25%;
		left: 12%;
	}
	.w3_featured_services_grid {
		float: left;
		width: 33.33%;
	}
	.w3_featured_services_grid h4 {
		line-height: 1.5em;
	}
	.w3layouts_about_grid_left1 {
		float: left;
		width: 50%;
	}
	.w3_about_grid img{
		margin:0 auto;
	}
	.w3layouts_about_grid_right {
		margin: 2em 0 0;
	}
	.w3l_about_bottom_left img {
		min-height: auto;
	}
	.w3l_about_bottom_left_video {
		left: 37%;
	}
	.agileinfo_header1:after {
		right: 65%;
	}
	.agileinfo_header1:before {
		left: -3%;
	}
	.w3l_about_bottom_right {
		min-height: auto;
		padding: 3em;
	}
	.w3ls_team_grid {
		float: left;
		width: 50%;
	}
	.w3ls_team_grid:nth-child(2){
		margin-bottom:2em;
	}
	.w3ls_team_grid img{
		margin:0 auto;
	}
	.agileits_w3layouts_mail_left {
		float: left;
		width: 33.33%;
	}
	.input {
		max-width: 219px;
	}
	.mid_agile_bannner_top_info p {
		font-size: 1em;
	}
	h5.grow {
		position: absolute;
		text-align: center;
		left: 39%;
		top: 49%;
		font-size: 1.4em;
	}
	.agileits-w3layouts-grid.img img {
		width: 41%;
		margin-bottom: 3em;
	}
	.wthree_agile_us {
		margin-bottom: 1.5em;
	}
	.w3layouts_getin_info {
		padding: 0;
		margin-bottom: 2em;
	}
	.w3_agile_footer_grid h3 {
		font-size: 1.4em;
		padding-bottom: .7em;
		margin-bottom: 1.1em;
		letter-spacing: 2px;
	}
	.w3_agile_footer_grid {
		margin-bottom: 2em;
	}
	ul.portfolio_agile_info_w3ls li {
		list-style: none;
		display: inline-block;
		width: 32%;
		margin-bottom: 0.5%;
	}
	.w3ls_footer_grid_left.con {
		padding: 2em 0;
		width: 100%;
	}
	.w3ls_footer_grid_left.con:nth-child(2) {
		margin: 2% 0%;
	}
}
@media (max-width: 800px){
	.agile_banner_info_pos {
		left: -23%;
	}
	.m_nav_item {
		margin: 0 1em;
	}
	.w3ls_banner_bottom_right_pos {
		left: 0%;
	}
	.view .info {
		margin-top: 2.5em;
	}
	.agile_events_top_grid_pos img {
		width: 70%;
	}
	.agile_events_top_grid_pos {
		left: 28%;
	}
	.agileinfo_header:before {
		left: -2%;
	}
	.modal-dialog {
		width: 700px;
	}
	.services_bottom_grid_left1 {
		width: 31%;
		left: 5%;
	}
	.play-icon {
		left: 48%;
	}
	.agileinfo_header1:after {
		right: 55%;
	}
	.agileits_map iframe {
		min-height: 300px;
	}
	.mid_agile_bannner_top_info h2, h3.tittle_agile_w3, .agile_inner_banner_info h2 {
		font-size: 2.3em;
	}
	ul.nav.navbar-nav {
		margin-top: 17px;
	}
	.w3l_header_left ul li {
		display: inline-block;
		margin-right: 0.2em;
	}
}
@media (max-width: 768px){
	#m_nav_container {
		height: 100px;
	}
	.banner-bottom, .events, .services, .featured-services {
		padding: 3em 0;
	}
	.w3_agile_logo h1 a {
		font-size: 1.1em;
	}
	.w3_agile_logo h1 a:before {
		width: 22px;
		height: 40px;
		border: 3px solid #24f4ff;
	}
	.view .info {
		margin-top: 7.5em;
	}
	.agile_events_top_grid_pos img {
		width: 80%;
	}
	.agile_events_top_grid_pos {
		left: 38%;
		bottom: -13%;
	}
	.agileinfo_header:before {
		left: -1%;
	}
	.services-bottom {
		min-height: 365px;
	}
	.services_bottom_grid_left1 {
		width: 33%;
		left: 4%;
		top: -21%;
	}
	h5.grow {
		position: absolute;
		text-align: center;
		left: 35%;
		top: 48%;
		font-size: 1.4em;
	}
	.w3l_header_right {
		float: none;
		text-align: center;
		margin: 6% auto 0;
		width: 22%;
	}
}
@media (max-width: 767px){
	.agile_short_dropdown li a {
	    border-bottom:none;
	}
	nav.navbar.navbar-default {
		background: none;
		padding: 0em 0 0em 0;
	}
}
@media (max-width: 736px){
	.agile_banner_info {
		margin: 4em auto 3em;
	}
	.agile_banner_info h2 {
		font-size: 1.1em;
	}
	.agile_banner_info p {
		width: 80%;
	}
	.agile_banner_info_pos {
		top: 80%;
		left: -20%;
	}
	.agile_banner_info_pos ul li {
		margin: 0 0.5em;
	}
	.banner-bottom-icons {
		padding: 1em 0 0;
	}
	.w3ls_banner_bottom_right_pos {
		left: -2%;
	}
	.w3_banner_bottom_icons1 {
		padding: 1em;
	}
	.agileinfo_header {
		font-size: 1.7em;
	}
	.wthree_events_grid_left1 {
		min-height: 110px;
	}
	.w3l_header_right {
		float: none;
		text-align: center;
		margin: 6% auto 0;
		width: 24%;
	}
}
@media (max-width: 667px){
	.agile_banner_info_pos ul li {
		margin: 0 0.5em;
		font-size: 13px;
	}
	.agile_banner_info_pos {
		top: 70%;
		left: -22%;
	}
	.agile_banner_info p {
		margin: 1em auto 0;
    }
	#m_nav_menu {
		right: 2%;
	}
	.w3ls_banner_bottom_right_pos {
		top: 35%;
	}
	.view .info {
		margin-top: 6.5em;
	}
	.modal-dialog {
		width: auto;
	}
	.w3layouts_newsletter_right {
		width: 90%;
	}
	.w3l_header_left ul li {
		display: block;
		margin-right: 0;
		text-align: center;
	}
	.w3l_header_left {
		float: none;
		margin: 0.3em 0 0;
	}
	.w3l_header_left ul li:nth-child(2){
	 margin:0.5em 0;
	}
	.w3l_header_right {
		float: none;
		text-align: center;
		margin: 2% auto 0;
		width: 27%;
	}
	.mid_agile_bannner_top_info h2, h3.tittle_agile_w3, .agile_inner_banner_info h2 {
		font-size: 2em;
	}
	.mid_agile_bannner_top_info p {
		width: 94%;
		margin: 1em auto;

	}
	.banner-bottom, .events, .services, .featured-services, .skills {
		padding: 3em 0;
	}
	.why-choose-agile {
		min-height: 653px;
		padding-top: 3em;
	}
}
@media (max-width: 640px){
	.agile_banner_info h2 {
		font-size: 1em;
	}
	.agile_banner_info_pos {
		top: 55%;
	}
	.m_nav_item {
		font-size: 13px;
	}
	#m_nav_list {
		margin: 2.18em 0 0;
	}
	.agileinfo_more a {
		border: 1px solid #fff;
		font-size: 13px;
	}
	.agile_events_top_grid_pos {
		left: 37%;
	}
	.agileinfo_header:after {
		right: 40%;
	}
	.wthree_events_grid_right1 h2 {
		font-size: 3.5em;
	}
	.wthree_events_grid_right1 {
		height: auto;
	}
	.wthree_events_grid_right {
		min-height: 330px;
	}
	.services_bottom_grid_right h3 {
		font-size: 1.7em;
	}
	.services_bottom_grid_right p {
		margin: 1em 0 2em;
	}
	.services_bottom_grid_left1 {
		width: 39.8%;
		left: 1%;
	}
	p.b_label {
		margin: 0 0 .5em !important;
	}
	.w3l_about_bottom_left_video {
		left: 34%;
	}
	.w3layouts_about_grid_right h3 {
		font-size: 1.2em;
		letter-spacing: 1px;
	}
	.agileinfo_header1:after {
		right: 42%;
	}
	.w3l_about_bottom_right {
		padding: 3em 2em 2em;
	}
	.agileits_banner_bottom_left h3 {
		font-size: 1.6em;
	}
	.agileits_w3layouts_mail_left {
		float: none;
		width: 100%;
	}
	.wthree_events_grid_left {
		margin-left: 1em;
	}
	.wthree_events_grid_left:before, .wthree_events_grid_left:after {
		left: -2%;
	}
	.agileits_w3layouts_mail_left:nth-child(2){
		margin:1em 0;
	}
	.input {
		margin:1em 0.5em 0em 0;
		max-width: 189px;
	}
	.w3_modal_body_left {
		padding: 0;
	}
	.heading-underline {
		width: 25%;
		margin: 1em auto 1.5em;
	}
}
@media (max-width: 600px){
	.agile_banner_info_pos {
		left: -26%;
	}
	.w3_agile_logo h1 a {
		font-size: 1em;
	}
	.w3_agile_logo h1 a:before {
		width: 20px;
		height: 36px;
	}
	.m_nav_ham {
		width: 20px;
		height: 1px;
	}
	.m_nav_item {
		display: block;
		text-align: center;
		margin: 0 0 10px;
	}
	#m_nav_container {
		height: auto;
	}
	#m_nav_list {
		margin: 0 auto;
		width: 70%;
		padding: 2.2em 0 1em;
	}
	#m_nav_menu {
		right: 3%;
		top: 7%;
	}
	.agile_banner_info p {
		font-size: 13px;
	}
	.agile_banner_info {
		margin: 4em auto 2em;
	}
	.w3l_social_icon_gridr {
		margin: 1.4em 0 0 10em;
	}
	.view .info {
		margin-top: 5.5em;
	}
	.agile_events_top_grid_pos {
		left: 35%;
	}
	.agileinfo_header {
		font-size: 1.5em;
	}
	.agileinfo_header:after {
		right: 45%;
	}
	.wthree_events_grid_left1_gridr h4 a {
		font-size: 1em;
	}
	.wthree_events_grid_right1 h3 {
		font-size: 2em;
	}
	.wthree_events_grid_right1 h2 {
		font-size: 3em;
	}
	.wthree_events_grid_right {
		min-height: 275px;
	}
	.agileinfo_footer_grid h4 span {
		font-size: 2em;
	}
	.w3l_header_right {
		float: none;
		text-align: center;
		margin: 2% auto 0;
		width: 30%;
	}
	.agileits_banner_bottom_left h3 {
		font-size: 1.4em;
	}
	.skills_img_agile h4 {
       font-size: 1.4em;
	}
	.w3layouts_newsletter_right input[type="email"] {
	 width: 100%;
	}
	.w3layouts_newsletter_right input[type="submit"] {
		width: 100%;
	}
	.wthree_events_grid_right1 {
    padding: 2em 2em;
	}
}
@media (max-width: 568px){
	.agile_banner_info h2 {
		font-size: .9em;
	}
	#m_nav_list {
		padding: 1.4em 0 1em;
	}
	.w3layouts_newsletter_right {
		width: 100%;
	}
	.w3l_header_right {
		float: none;
		text-align: center;
		margin: 2% auto 0;
		width: 33%;
	}
	.mid_agile_bannner_top_info h2, h3.tittle_agile_w3, .agile_inner_banner_info h2 {
		font-size: 1.8em;
	}
	.w3layouts_getin_info h3 {
		font-size: 1.2em;
		line-height: 1.5em;
	}
	.w3layouts_bottom {
		padding: 2em 0;
	}
}
@media (max-width: 480px){
	#m_nav_menu {
		top: 3%;
	}
	.agile_banner_info h2 {
		font-size: .8em;
	}
	.agile_banner_info_pos {
		left: -31%;
	}
	.agile_banner_info_pos ul li {
		font-size: 12px;
	}
	.banner-bottom, .events, .services, .featured-services {
		padding: 2em 0;
	}
	.agileits_banner_bottom_left h3 {
		font-size: 1.5em;
	}
	.w3l_social_icon_gridl {
		width: 60px;
		height: 60px;
	}
	.w3l_social_icon_gridl i {
		font-size: 1.2em;
	}
	.w3l_social_icon_gridr {
		margin: 0.8em 0 0 8em;
	}
	.w3l_social_icon_grid_pos {
		top: 20%;
	}
	.w3_banner_bottom_icons1 {
		float: none;
		width: 100%;
	}
	.view .info {
		margin-top: 9.5em;
	}
	.agile_events_top_grid_pos img {
		width: 100%;
	}
	.agile_events_top_grid_pos {
		left: 40%;
	}
	.agileinfo_header:before, .agileinfo_header:after {
		width: 20%;
	}
	.agileinfo_header:after {
		right: 38%;
	}
	.agileinfo_header {
		font-size: 1.45em;
	}
	.wthree_events_grid_left:before, .wthree_events_grid_left:after {
		left: -3%;
	}
	.w3ls_event_grids, .w3_services_grids {
		margin: 2em 0 0;
	}
	.w3layouts_newsletter,.footer {
		padding: 2em 0;
	}
	.w3layouts_newsletter_left h3 {
		font-size: 1.6em;
	}
	.agileinfo_footer_grid {
		float: none;
		width: 100%;
	}
	.agileinfo_footer_grid h4 {
		margin: 0;
	}
	.agileinfo_footer_grid p span {
		display: inline-block;
	}
	.agileinfo_footer_grid:nth-child(2){
		margin-bottom: 1em;
	}
	.agileinfo_footer_grid:nth-child(3){
		margin-bottom:2em;
	}
	.w3_services_grid {
		float: none;
		width: 100%;
		text-align: center;
	}
	.w3layouts_services_grid_pos {
		left: 35%;
	}
	.services_bottom_grid_left1 {
		width: 40%;
		left: 27%;
		top: -18%;
	}
	.services-bottom {
		min-height: auto;
		margin: 6em 0 0;
	}
	.services_bottom_grid_right {
	    margin: 2em 0 2em;
		width: 100%;
		float: none;
	}
	.services_bottom_grid_right p {
		margin: 1em 0;
	}
	.w3layouts_services_grid h4 {
		font-size: 5em;
	}
	.w3layouts_services_grid_pos i {
		font-size: 1.2em;
		width: 40px;
		height: 40px;
		line-height: 2.2em;
	}
	.w3_services_grid h3 {
		font-size: 1em;
		margin: 1em 0;
	}
	.w3_services_grid:nth-child(2){
		margin:1em 0;
	}
	.w3_featured_services_grid {
		float: none;
		width: 100%;
	}
	.w3_featured_services_grid h4 {
		margin: 1em 0;
	}
	.w3_featured_services_grid:nth-child(2){
		margin:2em 0;
	}
	.w3_featured_services_grid p {
		margin-bottom: 1em;
	}
	.w3l_about_bottom_left_video {
		left: 28%;
		top: 35%;
	}
	.play-icon i {
		font-size: 2em;
	}
	.w3_about_grid {
		padding: 0 .5em;
		margin-bottom: 1em;
	}
	.w3layouts_about_grid_left1 {
		padding: 0 .5em;
	}
	.agileinfo_header1 {
		font-size: 1.5em;
		letter-spacing: 2px;
	}
	.agileinfo_header1:before, .agileinfo_header1:after {
		width: 20%;
	}
	.agileinfo_header1:after {
		right: 33%;
	}
	.footer-logo h2 a {
		font-size: 1.1em;
	}
	.footer-logo h2 a:before {
		width: 22px;
		height: 33px;
		border: 3px solid #24f4ff;
	}
	.agileinfo_mail_grids {
		margin: 0;
	}
	.input {
		margin: 1em 0 0;
		max-width: 100%;
	}
	.input__field--chisato {
		padding: .7em 0.5em;
	}
	.input__label--chisato {
		-webkit-transform: translate3d(0, 2.6em, 0);
		transform: translate3d(0, 2.6em, 0);
	}
	.agileinfo_mail_grids input[type="submit"] {
		width: 100%;
	}
	.w3l_header_right {
		float: none;
		text-align: center;
		margin: 2% auto 0;
		width: 37%;
	}
	.mid_agile_bannner_top_info h2{
	   font-size:1.6em;
	}
	.agileits_banner_bottom_left h3 {
		font-size: 1.3em;
	}
	.media-left.response-text-left {
		float: left;
		width: 100%;
		padding: 0;
		margin-bottom: 1em;
	}
	.media-body.response-text-right {
		float: right;
		width: 100%;
	}

}
@media (max-width: 440px){
.agile_banner_info h2 {
		font-size: .6em;
	}
	.agile_banner_info h2 span {
		font-size: 3.5em;
	}
	.w3_agile_logo h1 a {
		font-size: .9em;
	}
	.agile_banner_info_pos ul li {
		font-size: 11px;
	}
	.agile_banner_info_pos {
		left: -36%;
	}
	.agile_banner_info p {
		font-size: 12px;
	}
	.agileinfo_more a {
		font-size: 12px;
		padding: 8px 35px;
	}
	#m_nav_list {
		width: 65%;
	}
	.agileits_banner_bottom_left p.w3l_para {
		margin: 1em 0 2em;
	}
	.agileits_banner_bottom_left {
		padding: 0;
	}
	.w3l_social_icon_gridr {
		margin: 0.8em 0 0 6em;
	}
	.agileits_banner_bottom_right {
		padding-right: 0;
	}
	.w3ls_banner_bottom_right_pos {
		left: -5%;
	}
	.agile_events_top_grid_pos {
		left: 39%;
	}
	.view .info {
		margin-top: 8.5em;
	}
	.agileinfo_header {
		font-size: 1.4em;
		letter-spacing: 1px;
	}
	.agileinfo_header:after {
		right: 25%;
	}
	.wthree_events_grid_left1_gridr {
		padding-right: 0;
	}
	.wthree_events_grid_left1_gridr h4 a {
		font-size: .95em;
	}
	.wthree_events_grid_left1_gridl p:before {
		left: -4%;
		bottom: -6%;
	}
	.wthree_events_grid_left:before, .wthree_events_grid_left:after {
		left: -3.1%;
	}
	.wthree_events_grid_right {
		margin: 2em 0 0;
		width: 100%;
		min-height: auto;
	}
	.wthree_events_grid_right1 h2 {
		font-size: 2.5em;
	}
	.wthree_events_grid_right1 {
		padding: 1em;
	}
	.w3layouts_newsletter_right input[type="email"] {
	 width: 100%;
	}
	.w3layouts_newsletter_right input[type="submit"] {
		width: 100%;
	}
	.footer-logo h2 {
		line-height: 1em;
	}
	.agileinfo_footer_grid {
		padding: 0;
	}
	.footer-logo h2 a span {
		line-height: 1;
	}
	.footer-logo h2 a:before {
		height: 38px;
	}
	.agileinfo_footer_grid h4 {
		font-size: .9em;
	}
	.agileinfo_footer_grid p {
		margin: 0.5em 0 1em;
	}
	.modal-body p {
		padding: 1em 0 1em;
	}
	.modal-body p i {
		margin: 1em 0 0;
	}
	.w3layouts_services_grid_pos {
		left: 32%;
	}
	.services_bottom_grid_right h3 {
		font-size: 1.5em;
		border-left: 5px solid #13b3bb;
		padding-left: .5em;
	}
	.w3layouts_about_grid_right {
		padding: 0;
	}
	.w3layouts_about_grid_right h3,.w3layouts_about_grid_right_grid1r h4 {
		font-size: 1.1em;
	}
	.w3l_about_bottom_left_video {
		left: 24%;
	}
	.agileinfo_header1 {
		font-size: 1.4em;
		letter-spacing: 1px;
	}
	.w3l_about_bottom_right {
		padding: 2em 1em 1.5em;
	}
	.panel-body {
		padding: 1em;
	}
	.w3ls_team_grid h4 {
		font-size: .9em;
		letter-spacing: 0;
	}
	.w3_agileits_mail_left h4 {
		font-size: 1em;
	}
	.mid_agile_bannner_top_info h2 {
		font-size: 1.4em;
		line-height: 1.5em;
	}
	h5.grow {
		position: absolute;
		text-align: center;
		left: 29%;
		top: 48%;
		font-size: 1em;
	}
	.agileits_w3layouts_banner_nav {
		padding: 0.5em 0.5em;
	}
	.w3l_header_right {
		float: none;
		text-align: center;
		margin: 2% auto 0;
		width: 47%;
	}
	.w3ls_address_mail_footer_grids {
		margin-top: 0em;
	}
	.agileinfo_copyright {
       margin: 1em 0 0;
	}
	.w3l_header_right {
		float: none;
		text-align: center;
		margin: 2% auto 0;
		width: 41%;
	}
	a.navbar-brand {
		font-size: 0.8em;
	}
}
@media (max-width: 414px){
	.agile_banner_info h2 {
		font-size: .6em;
	}
	.agile_banner_info h2 span {
		font-size: 3.5em;
	}
	.w3_agile_logo h1 a {
		font-size: .9em;
	}
	.agile_banner_info_pos ul li {
		font-size: 11px;
	}
	.agile_banner_info_pos {
		left: -36%;
	}
	.agile_banner_info p {
		font-size: 12px;
	}
	.agileinfo_more a {
		font-size: 12px;
		padding: 8px 35px;
	}
	#m_nav_list {
		width: 65%;
	}
	.agileits_banner_bottom_left p.w3l_para {
		margin: 1em 0 2em;
	}
	.agileits_banner_bottom_left {
		padding: 0;
	}
	.w3l_social_icon_gridr {
		margin: 0.8em 0 0 6em;
	}
	.agileits_banner_bottom_right {
		padding-right: 0;
	}
	.w3ls_banner_bottom_right_pos {
		left: -5%;
	}
	.agile_events_top_grid_pos {
		left: 39%;
	}
	.view .info {
		margin-top: 8.5em;
	}
	.agileinfo_header {
		font-size: 1.4em;
		letter-spacing: 1px;
	}
	.agileinfo_header:after {
		right: 25%;
	}
	.wthree_events_grid_left1_gridr {
		padding-right: 0;
	}
	.wthree_events_grid_left1_gridr h4 a {
		font-size: .95em;
	}
	.wthree_events_grid_left1_gridl p:before {
		left: -4%;
		bottom: -6%;
	}
	.wthree_events_grid_left:before, .wthree_events_grid_left:after {
		left: -3.1%;
	}
	.wthree_events_grid_right {
		margin: 2em 0 0;
		width: 100%;
		min-height: auto;
	}
	.wthree_events_grid_right1 h2 {
		font-size: 2.5em;
	}
	.wthree_events_grid_right1 {
		padding: 1em;
	}
	.footer-logo h2 {
		line-height: 1em;
	}
	.agileinfo_footer_grid {
		padding: 0;
	}
	.footer-logo h2 a span {
		line-height: 1;
	}
	.footer-logo h2 a:before {
		height: 38px;
	}
	.agileinfo_footer_grid h4 {
		font-size: .9em;
	}
	.agileinfo_footer_grid p {
		margin: 0.5em 0 1em;
	}
	.modal-body p {
		padding: 1em 0 1em;
	}
	.modal-body p i {
		margin: 1em 0 0;
	}
	.w3layouts_services_grid_pos {
		left: 32%;
	}
	.services_bottom_grid_right h3 {
		font-size: 1.5em;
		border-left: 5px solid #13b3bb;
		padding-left: .5em;
	}
	.w3layouts_about_grid_right {
		padding: 0;
	}
	.w3layouts_about_grid_right h3,.w3layouts_about_grid_right_grid1r h4 {
		font-size: 1.1em;
	}
	.w3l_about_bottom_left_video {
		left: 24%;
	}
	.agileinfo_header1 {
		font-size: 1.4em;
		letter-spacing: 1px;
	}
	.w3l_about_bottom_right {
		padding: 2em 1em 1.5em;
	}
	.panel-body {
		padding: 1em;
	}
	.w3ls_team_grid h4 {
		font-size: .9em;
		letter-spacing: 0;
	}
	.w3_agileits_mail_left h4 {
		font-size: 1em;
	}
	.mid_agile_bannner_top_info h2 {
		font-size: 1.4em;
		line-height: 1.5em;
	}
	h5.grow {
		position: absolute;
		text-align: center;
		left: 29%;
		top: 48%;
		font-size: 1em;
	}
	.agileits_w3layouts_banner_nav {
		padding: 0.5em 0.5em;
	}
	.w3l_header_right {
		float: none;
		text-align: center;
		margin: 2% auto 0;
		width: 47%;
	}
	.w3ls_address_mail_footer_grids {
		margin-top: 0em;
	}
	.agileinfo_copyright {
       margin: 1em 0 0;
	}

}
@media (max-width: 384px){
	.agile_banner_info {
		margin: 3em auto 2em;
	}
	.agile_banner_info h2 i {
		letter-spacing: 1.5px;
	}
	.agile_banner_info_pos {
		left: -39%;
	}
	.agileits_banner_bottom_left h3 {
		font-size: 1.3em;
	}
	.w3_agile_logo h1 a {
		font-size: .8em;
	}
	.w3_agile_logo h1 a span {
		font-size: .4em;
		padding-left: 1.9em;
	}
	.w3_agile_logo h1 a:before {
		width: 17px;
		height: 32px;
	}
	.w3_banner_bottom_icons1 h3 {
		font-size: 1em;
	}
	.view .info {
		margin-top: 7.5em;
	}
	.wthree_events_grid_left1_gridr h4 a {
		font-size: .85em;
	}
	.wthree_events_grid_left1_gridr {
		padding: 0;
	}
	.wthree_events_grid_left1 {
		min-height: 145px;
	}
	.wthree_events_grid_left1_gridl p:before {
		bottom: -4%;
	}
	.wthree_events_grid_left:before {
		top: -2%;
	}
	.w3layouts_newsletter_left h3 {
		font-size: 1.4em;
	}
	.w3layouts_newsletter_right input[type="email"] {
		width: 100%;
		margin-bottom: 1em;
	}
	.w3layouts_newsletter_right input[type="submit"] {
		width: 100%;
	}
	.agileinfo_footer_grid h4 span {
		font-size: 1.8em;
	}
	.services_bottom_grid_left1 {
		width: 45%;
		left: 28%;
		top: -21%;
	}
	.w3l_about_bottom_left_video {
		left: 20%;
	}
	.play-icon {
		left: 46%;
	}
	.panel-title > a {
		font-size: .9em;
	}
	.agileits_map iframe {
		min-height: 250px;
	}
	.w3l_header_right {
		float: none;
		text-align: center;
		margin: 2% auto 0;
		width: 50%;
	}
}
@media (max-width: 375px){
	.agile_events_top_grid_pos {
		left: 38%;
	}
	.wthree_events_grid_left {
		padding-right: 0;
	}
	.wthree_events_grid_left1 {
		min-height: 115px;
	}
	.wthree_events_grid_right1 h2 {
		font-size: 2em;
	}
	.w3layouts_services_grid_pos {
		left: 30%;
	}
	p.b_label {
		font-size: 13px;
	}
	.agileinfo_header:before, .agileinfo_header:after {
		width: 30%;
	}
	.agileinfo_header:after {
		right: 15%;
	}
	.agileinfo_more a {
		letter-spacing: 1px;
	}
	.w3layouts_about_grid_right_grid1l_1 {
		width: 55px;
		height: 55px;
	}
	.w3layouts_about_grid_right_grid1l_1 i {
		font-size: 1.2em;
		line-height: 2.8em;
	}
	.w3l_about_bottom_left_video h4 {
		font-size: 1.3em;
	}
	.w3l_about_bottom_left_video {
		left: 24%;
	}
	.w3ls_team_grid {
		float: none;
		width: 100%;
		padding:0 3em;
	}
	.w3ls_team_grid:nth-child(2) {
		margin: 2em 0;
	}
	.w3ls_team_grid:nth-child(3) {
		margin-bottom: 2em;
	}
	.w3l_header_right {
		float: none;
		margin: 2% auto 0;
		width: 51%;
	}
}
@media (max-width: 320px){
	#m_nav_menu {
		top: 4%;
	}
	.agile_banner_info h2 {
		font-size: .5em;
	}
	.agile_banner_info h2 i {
		letter-spacing: 1px;
	}
	.agile_banner_info_pos {
		left: -46%;
	}
	.agileinfo_more a {
		letter-spacing: 0px;
	}
	.agile_banner_info {
		margin: 2em auto 1.5em;
	}
	.agile_banner_info_pos ul li {
		margin: 0 0.5em 0 0;
	}
	#m_nav_list {
		width: 60%;
	}
	.m_nav_item a {
		letter-spacing: 1px;
	}
	.w3l_social_icon_gridr {
		margin: 0.8em 0 0 4em;
	}
	.w3ls_banner_bottom_right_pos {
		left: -8%;
		top: 40%;
	}
	p, ul li, ol li {
		font-size: 13px;
	}
	.view .info {
		margin-top: 5.5em;
	}
	.agile_events_top_grid_pos {
		left: 37%;
	}
	.agileinfo_header:before, .agileinfo_header:after {
		width: 45%;
	}
	.agileinfo_header:after {
		right: 5%;
	}
	.wthree_events_grid_left {
		margin-left: 0em;
	}
	.wthree_events_grid_left1_gridr h4 a {
		font-size: .9em;
	}
	.wthree_events_grid_left1_gridl p {
		font-size: 11px;
	}
	.wthree_events_grid_left1_gridl p:before {
		bottom: -7%;
		left: -5%;
	}
	.wthree_events_grid_left:before, .wthree_events_grid_left:after {
		left: -4.1%;
	}
	.wthree_events_grid_left1 {
		min-height: 150px;
	}
	.wthree_events_grid_right {
		padding: 1em;
	}
	.w3layouts_newsletter_left h3 {
		font-size: 1.28em;
	}
	.footer-logo h2 a {
		font-size: 1em;
	}
	.footer-logo h2 a span {
		font-size: .4em;
		padding-left: 2.2em;
	}
	.agileinfo_footer_grid h4,.panel-body{
		font-size: 13px;
	}
	.agileinfo_header {
		font-size: 1.3em;
	}
	.modal-header {
		font-size: 1.4em;
		padding: 10px;
	}
	.w3layouts_services_grid_pos {
		left: 25%;
	}
	.services_bottom_grid_left1 {
		width: 55%;
		left: 24%;
	}
	.w3layouts_about_grid_right h3, .w3layouts_about_grid_right_grid1r h4 {
		font-size: 1em;
	}
	.w3layouts_about_grid_right h3 {
		letter-spacing: 0px;
	}
	.w3layouts_about_grid_right {
		margin: 1em 0 0;
	}
	.w3layouts_about_grid_right_grid1r h4 {
		line-height: 1.5em;
	}
	.w3layouts_about_grid_right_grid:nth-child(2) {
		margin: 1em 0;
	}
	.w3l_about_bottom_left_video h4 {
		font-size: 1.1em;
	}
	.w3l_about_bottom_left_video {
		left: 23%;
		top: 30%;
	}
	.play-icon {
		left: 44%;
		top: 48%;
	}
	.agileinfo_header1 {
		font-size: 1.3em;
	}
	.agileinfo_header1:before, .agileinfo_header1:after {
		width: 30%;
	}
	.agileinfo_header1:after {
		right: 10%;
	}
	.w3ls_team_grid {
		padding: 0 2em;
	}
	.agileits_w3layouts_mail_left {
		padding: 0;
	}
	.input__field,.agileinfo_mail_grids input[type="submit"] {
		font-size: 13px;
	}
	.input__label--chisato {
		-webkit-transform: translate3d(0, 2.3em, 0);
		transform: translate3d(0, 2.3em, 0);
	}
	.w3l_header_right {
		float: none;
		text-align: center;
		margin: 2% auto 0;
		width: 63%;
	}
}
