<!-- MAP WITH MARKERS -->
<map-load focus="$ctrl.focus || $ctrl.events[0]" array="$ctrl.events"></map-load>

<!-- LIST OF EVENTS NGREPEAT LOAD COMPONENT SINGLE EVENT -->
<div id="eventsListDiv">
    <div ng-show="$ctrl.Events.length == 0 || ($ctrl.Events | filter: $ctrl.filter).length == 0"> <br> <br> Not Found</div>
    <div ng-click="openDetails(event)"  ng-class='{EventListItem : event.stock != 0, EventListItemExhausted: event.stock == 0}' 
    class="EventListItem" id="eventItem" ng-repeat="event in $ctrl.events | filter: $ctrl.filter" ng-mouseover="$ctrl.focus = event"
    id="{{event._id}}" ng-mouseover="showDetailsOnHover()" ng-mouseleave="hideDetailsOnMap()">
        <single-event class="listevents" event="event"></single-event>
    </div>
    </div>
</div>