 <div class="agileinfo_mail_grids">
    <form id="contact_form" name="contact_form" class="form-contact" ng-submit="vm.SubmitContact()">
        <h2 class="form-contact-heading">CONTACT_US</h2>

        <span class="input input--chisato">
          <input required ng-model="vm.inputName" type="text" id="inputName" name="inputName" placeholder="" class="input__field input__field--chisato" dir="auto" maxlength="100">
          <label class="input__label input__label--chisato" for="inputName">
            <span class="input__label-content input__label-content--chisato" data-content="Name">Name</span>
          </label>
          <span class="text-danger" ng-show="contact_form.inputName.$error.required && (contact_form.inputName.$dirty || contact_form.inputName.$touched)">The name is required</span>
        </span>

        <br>
        <span class="input input--chisato">
          <input required ng-model="vm.inputEmail" type="email" id="inputEmail" name="inputEmail" placeholder="" class="input__field input__field--chisato" maxlength="100" ng-pattern="/^[a-z0-9!#$%&'*+/=?^_`{|}~.-]+@[a-z0-9-]+(\.[a-z0-9-]+)*$/i">
          <label class="input__label input__label--chisato" for="inputEmail">
            <span class="input__label-content input__label-content--chisato" data-content="Email">Email</span>
          </label>
          <span class="text-danger" ng-show="contact_form.inputEmail.$error.required && (contact_form.inputEmail.$dirty || contact_form.inputEmail.$touched)">The email is required</span>
          <span class="text-danger" ng-show="contact_form.inputEmail.$error.email">The email is not valid</span>
        </span>

        <br>
        <span class="input input--chisato">
            <label for="sel1">Subject</label>
            <select ng-model="vm.inputSubject" class="form-control" id="inputSubject" name="inputSubject" title="Choose subject">
                <option value="order">SEL_ORDER</option>
                <option value="programming_dept">SEL_PROG_DEPT</option>
                <option value="work">SEL_WORK</option>
                <option value="projects">SEL_NEW_PROJ</option>
                <option value="suggestions">SEL_SUGGEST</option>
                <option value="claim">SEL_CLAIM</option>
                <option value="suscribe">SEL_SUBSCRIBE</option>
                <option value="diferent">SEL_DIFFERENT</option>
            </select>
        </span>
        <br>
        <span>
          <textarea required ng-model="vm.inputMessage" class="input-block-level" rows="4" id="inputMessage" name="inputMessage" placeholder="Your comment here..." style="max-width: 100%;" dir="auto"></textarea>
          <br>
          <span class="text-danger" ng-show="contact_form.inputMessage.$error.required && (contact_form.inputMessage.$dirty || contact_form.inputMessage.$touched)">The comment is required</span>
        </span>

        <input type="submit" class="btn btn-primary" name="submit" id="submitBtn" value="SEND_BTN" ng-show="contact_form.inputName.$valid && contact_form.inputEmail.$valid && contact_form.inputMessage.$valid"
        ng-click="SubmitContact()"/>

        <div id="resultMessageOk" class="msg_ok">{{vm.resultMessageOk}}</div>
        <div id="resultMessageFail" class="msg_error">{{vm.resultMessageFail}}</div>
    </form>

</div><!-- /container -->
