<div clas="detail--block">
    <div class="detail--image ng-hide" ng-show="$ctrl.event.img" max-width: "100%" >
        <img class="center" src="{{$ctrl.event.img}}"/>
    </div>
    <div class="detail--content" style="padding: 2px 5px;">
        <div class="detail--name" style="margin-top:5px;"><h3>{{$ctrl.event.name}}</h3></div>
        <div class="detail--date"><h3>{{$ctrl.event.fecha}}</h3></div>
        <div class="detail--type"><i>{{$ctrl.event.type}}</i></div>
        <div class="detail--desc"><p>{{$ctrl.event.desc}}</p></div>
        <div class="detail--place">{{$ctrl.$ctrl.event.place}}</div>
        <div class="detail--price" >{{$ctrl.event.price}}€</div>
        <div class="detail--stock" data-ng-if="$ctrl.event.stock != 0" class="stock"><strong> ¡Solo quedan {{$ctrl.event.stock}} entradas! </strong></div>
        <div class="detail--stock" data-ng-if="$ctrl.event.stock == 0" class="stocke"><strong> Entradas agotadas </strong> </div>
        <br>
        <br>
        <a class="detail--moreinfo" href="http://localhost:8080/#!/events/{{$ctrl.event.name}}/{{$ctrl.event._id}}">More Info</a>
    </div>
</div>