<div class="col-md-6 offset-md-3 col-xs-12">
    <list-errors errors="$ctrl.errors"></list-errors>
    <form ng-submit="$ctrl.submitForm()" name="formData" id="formData">
        <!-- USERNAME FORM -->
        <span>
            <fieldset class="form-group" ng-show="$ctrl.authType == 'register'">
                <input required class="form-control form-control-lg" type="text" placeholder="Username" name="inputUsername" ng-model="formData.username" min-length="5"/>
            </fieldset>
            <span ng-show="formData.inputUsername.$dirty || formData.inputUsername.$touched">
                <span ng-show="formData.inputUsername.$error.required"> The name is required</span>
            </span>
        </span>
        
        <!-- EMAIL FORM -->
        <span>
                <fieldset class="form-group">
                    <input required class="form-control form-control-lg" name="inputEmail" type="email" placeholder="Insert Email" ng-model="formData.email" />
                </fieldset>
                <span ng-show="formData.inputEmail.$dirty || formData.inputEmail.$touched">
                    <span ng-show="formData.inputEmail.$error.required"> The email is required</span>
                    <span ng-show="$ctrl.validateArrayValue(formData.inputEmail,$ctrl.userNames) && $ctrl.authType == 'login'">This email not exist</span>
                    <span ng-show="$ctrl.validateArrayValue(formData.inputEmail.$viewValue,$ctrl.userNames) && $ctrl.authType == 'register'">The email is already taken</span>
                </span>
        </span>
        <!-- PASSWORD FORM -->
        <span>
            <fieldset class="form-group">
                <input required class="form-control form-control-lg" name="inputPass" type="password" placeholder="Password" ng-model="formData.password" />
            </fieldset>
            <span ng-show="formData.inputPass.$dirty || formData.inputPass.$touched">
                <span ng-show="formData.inputPass.$error.required"> The password is required</span>
            </span>
        </span>
        <!-- REPEAT PASSWORD FORM -->
        <span ng-show="$ctrl.authType == 'register'">
            <fieldset class="form-group">
                <input required class="form-control form-control-lg" name="inputPass_2" type="password" placeholder="Repeat Password" ng-model="formData.password_2" />
            </fieldset>
            <span ng-show="formData.inputPass_2.$dirty || formData.inputPass_2.$touched">
                <span ng-show="formData.inputPass_2.$error.required"> Input again password</span>
                <span ng-show="formData.inputPass.$viewValue !== formData.inputPass_2.$viewValue"> Password must match </span>
            </span>
        </span>
        <span>
            <button class="btn btn-lg btn-primary pull-xs-right" ng-show="$ctrl.authType == 'login'"
                type="submit" ng-click="$ctrl.submitForm()"
                ng-bind="$ctrl.authType"
                ng-disabled="!(formData.inputEmail.$valid && formData.inputPass.$valid)">
            </button>
            <button class="btn btn-lg btn-primary pull-xs-right" ng-show="$ctrl.authType == 'register'"
                type="submit"
                ng-bind="$ctrl.authType"
                ng-disabled="!(formData.inputUsername.$valid && formData.inputEmail.$valid && formData.inputPass.$valid && formData.inputPass_2.$valid) || $ctrl.validateArrayValue(formData.inputEmail.$viewValue,$ctrl.userNames)">
            </button>
        </span>
    </form>
    <a href="http://127.0.0.1:8081/api/auth/googleplus" target="_blank" rel="noopener noreferrer">
        <img src="images/google-plus.png" alt="Google +" style="width:24px;height:24px" />
    </a>
</div>